Repository osism/ansible-collection-commons: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy

ansible-collection-commons-molecule-certificates:
  parent: ansible-molecule
  vars:
    ansible_role: certificates
    ansible_molecule_ansible_version: 8.7.0

ansible-collection-commons-molecule-cleanup:
  parent: ansible-molecule
  vars:
    ansible_role: cleanup
    ansible_molecule_ansible_version: 8.7.0

ansible-collection-commons-molecule-configfs:
  parent: ansible-molecule
  vars:
    ansible_role: configfs
    ansible_molecule_ansible_version: 8.7.0

ansible-collection-commons-molecule-configuration:
  parent: ansible-molecule
  vars:
    ansible_role: configuration
    ansible_molecule_ansible_version: 8.7.0

ansible-collection-commons-molecule-docker_compose:
  parent: ansible-molecule
  vars:
    ansible_role: docker_compose
    ansible_molecule_ansible_version: 8.7.0

ansible-collection-commons-molecule-facts:
  parent: ansible-molecule
  vars:
    ansible_role: facts
    ansible_molecule_ansible_version: 8.7.0

ansible-collection-commons-molecule-firewall:
  parent: ansible-molecule
  vars:
    ansible_role: firewall
    ansible_molecule_ansible_version: 8.7.0

ansible-collection-commons-molecule-hostname:
  parent: ansible-molecule
  vars:
    ansible_role: hostname
    ansible_molecule_ansible_version: 8.7.0

ansible-collection-commons-molecule-hosts:
  parent: ansible-molecule
  vars:
    ansible_role: hosts
    ansible_molecule_ansible_version: 8.7.0

ansible-collection-commons-molecule-ipmitool:
  parent: ansible-molecule
  vars:
    ansible_role: ipmitool
    ansible_molecule_ansible_version: 8.7.0

ansible-collection-commons-molecule-kernel_modules:
  parent: ansible-molecule
  vars:
    ansible_role: kernel_modules
    ansible_molecule_ansible_version: 8.7.0

ansible-collection-commons-molecule-kompose:
  parent: ansible-molecule
  vars:
    ansible_role: kompose
    ansible_molecule_ansible_version: 8.7.0

ansible-collection-commons-molecule-kubectl:
  parent: ansible-molecule
  vars:
    ansible_role: kubectl
    ansible_molecule_ansible_version: 8.7.0

ansible-collection-commons-molecule-lynis:
  parent: ansible-molecule
  vars:
    ansible_role: lynis
    ansible_molecule_ansible_version: 8.7.0

ansible-collection-commons-molecule-microcode:
  parent: ansible-molecule
  vars:
    ansible_role: microcode
    ansible_molecule_ansible_version: 8.7.0

ansible-collection-commons-molecule-motd:
  parent: ansible-molecule
  vars:
    ansible_role: motd
    ansible_molecule_ansible_version: 8.7.0

ansible-collection-commons-molecule-operator:
  parent: ansible-molecule
  vars:
    ansible_role: operator
    ansible_molecule_ansible_version: 8.7.0

ansible-collection-commons-molecule-packages:
  parent: ansible-molecule
  vars:
    ansible_role: packages
    ansible_molecule_ansible_version: 8.7.0

ansible-collection-commons-molecule-podman:
  parent: ansible-molecule
  vars:
    ansible_role: podman
    ansible_molecule_ansible_version: 8.7.0

Adjust documentation to reality
  roles/resolvconf/README.rst
Due: ansible-collection-commons-molecule-resolvconf

Make the resolv.conf handling somehow bearable
  roles/resolvconf/tasks/configure-resolv.yml
Due: ansible-collection-commons-molecule-resolvconf

resolvconf: get rid of ansible.posix.synchronize and rsync (#578)
  roles/resolvconf/README.rst
  roles/resolvconf/tasks/configure-resolv.yml
Due: ansible-collection-commons-molecule-resolvconf

motd: disable the dynamic MOTD news service
  molecule/delegated/tests/motd/debian.py
  roles/motd/tasks/configure-Debian.yml
  roles/motd/tasks/main.yml
Due: ansible-collection-commons-molecule-motd

motd: disable the dynamic MOTD news service (#579)
  molecule/delegated/tests/motd/debian.py
  roles/motd/tasks/configure-Debian.yml
  roles/motd/tasks/main.yml
Due: ansible-collection-commons-molecule-motd

motd: use community.general.pamd for changes in /etc/pam.d
  roles/motd/tasks/configure-Debian.yml
Due: ansible-collection-commons-molecule-motd

First check whether the variable is defined before it is used
  roles/motd/tasks/configure-Debian.yml
  roles/network/tasks/type-netplan.yml
Due: ansible-collection-commons-molecule-motd

First check whether the variable is defined before it is used (#583)
  roles/motd/tasks/configure-Debian.yml
  roles/network/tasks/type-netplan.yml
Due: ansible-collection-commons-molecule-motd

motd: use community.general.pamd for changes in /etc/pam.d (#582)
  roles/motd/tasks/configure-Debian.yml
Due: ansible-collection-commons-molecule-motd

Test new Asible linter
  .ansible-lint
Due: none

Use packages_ as prefix of variables in packages role
  .zuul.yaml
  molecule/delegated/tests/packages/debian.py
  molecule/delegated/tests/packages/main.py
  molecule/delegated/tests/packages/redhat.py
  molecule/delegated/vars/packages.yml
  roles/packages/defaults/main.yml
  roles/packages/tasks/package-Debian.yml
  roles/packages/tasks/package-RedHat.yml
  roles/packages/vars/Debian.yml
  roles/packages/vars/RedHat.yml
Due: ansible-collection-commons-molecule-packages

Use firewall_ as prefix of variables in role firewall
  molecule/delegated/tests/firewall.py
  roles/firewall/defaults/main.yml
  roles/firewall/handlers/main.yml
  roles/firewall/tasks/main.yml
Due: ansible-collection-commons-molecule-firewall

Use kernel_modules_ as prefix of variables in role kernel_modules
  molecule/delegated/tests/kernel_modules.py
  roles/kernel_modules/README.rst
  roles/kernel_modules/defaults/main.yml
  roles/kernel_modules/tasks/main.yml
Due: ansible-collection-commons-molecule-kernel_modules

Use sosreport_ as prefix of variables in role sosreport
  molecule/delegated/vars/sosreport.yml
  roles/sosreport/defaults/main.yml
  roles/sosreport/tasks/main.yml
Due: ansible-collection-commons-molecule-sosreport

Use facts_ as prefix of variables in facts role
  .zuul.yaml
  molecule/delegated/tests/facts.py
  molecule/delegated/vars/packages.yml
  roles/facts/README.rst
  roles/facts/defaults/main.yml
  roles/facts/tasks/main.yml
  roles/packages/tasks/package-Debian.yml
  roles/packages/vars/Debian.yml
Due: ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-packages

Use systohc_ as a prefix in systohc role
  molecule/delegated/tests/systohc.py
  roles/systohc/defaults/main.yml
  roles/systohc/tasks/main.yml
Due: ansible-collection-commons-molecule-systohc

Use repository_ as prefix of variables in role repository
  molecule/delegated/tests/repository/debian.py
  molecule/delegated/tests/sshconfig.py
  roles/repository/README.rst
  roles/repository/defaults/main.yml
  roles/repository/tasks/main.yml
  roles/repository/tasks/repository-RedHat.yml
  roles/repository/templates/99osism.j2
  roles/repository/templates/source.list.j2
Due: ansible-collection-commons-molecule-repository

Use known_hosts_ as prefix of variables in role known_hosts
  molecule/delegated/tests/known_hosts.py
  molecule/delegated/vars/known_hosts.yml
  roles/known_hosts/README.rst
  roles/known_hosts/defaults/main.yml
  roles/known_hosts/tasks/main.yml
Due: none

Use sshconfig_ as a prefix in ssshconfig role
  .ansible-lint
  molecule/delegated/tests/sshconfig.py
  roles/sshconfig/defaults/main.yml
  roles/sshconfig/tasks/main.yml
Due: ansible-collection-commons-molecule-sshconfig

Use motd_ as prefix of variables in role motd
  molecule/delegated/tests/known_hosts.py
  molecule/delegated/tests/motd/main.py
  roles/known_hosts/defaults/main.yml
  roles/motd/README.rst
  roles/motd/defaults/main.yml
  roles/motd/tasks/main.yml
Due: ansible-collection-commons-molecule-motd

Use sshconfig_ as prefix of variables in ssshconfig role
  molecule/delegated/tests/sshconfig.py
  molecule/delegated/vars/sshconfig.yml
  roles/sshconfig/defaults/main.yml
  roles/sshconfig/tasks/main.yml
Due: ansible-collection-commons-molecule-sshconfig

Use configuration_ as prefix of variables in configuration role
  .zuul.yaml
  molecule/delegated/tests/configuration/git.py
  molecule/delegated/tests/configuration/main.py
  molecule/delegated/vars/configuration.yml
  roles/clevis/tasks/create-tangcrypt.yml
  roles/clevis/vars/Debian.yml
  roles/configuration/README.rst
  roles/configuration/defaults/main.yml
  roles/configuration/tasks/git.yml
  roles/configuration/tasks/main.yml
Due: ansible-collection-commons-molecule-configuration

user: add missing README.md file
  roles/user/README.md
Due: none

user: add missing README.md file (#584)
  roles/user/README.md
Due: none

Add task in kubectl role to rm old architecture-dependent repo
  roles/kubectl/tasks/install-Debian.yml
Due: ansible-collection-commons-molecule-kubectl

Add task in lynis role to rm old architecture-dependent repo
  roles/lynis/tasks/install-Debian.yml
Due: ansible-collection-commons-molecule-lynis

Add task in trivy role to rm old architecture-dependent repo
  roles/trivy/tasks/install-Debian.yml
Due: ansible-collection-commons-molecule-trivy

DNM: testing centos node
  .zuul.yaml
Due: none

Add tasks to remove old architecture-dependent repository (#586)
  roles/kubectl/tasks/install-Debian.yml
  roles/lynis/tasks/install-Debian.yml
  roles/trivy/tasks/install-Debian.yml
Due: ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-trivy

Remove molecule/default directory
  molecule/default/Dockerfile.j2
  molecule/default/collections.yml
  molecule/default/converge.yml
  molecule/default/molecule.yml
  molecule/default/prepare.yml
  molecule/default/verify.yml
Due: none

Remove molecule/default directory (#589)
  molecule/default/Dockerfile.j2
  molecule/default/collections.yml
  molecule/default/converge.yml
  molecule/default/molecule.yml
  molecule/default/prepare.yml
  molecule/default/verify.yml
Due: none

kubectl: fix "gpg: cannot open '/dev/tty': No such device or address"
  roles/kubectl/tasks/install-Debian.yml
Due: ansible-collection-commons-molecule-kubectl

kubectl: fix "gpg: cannot open '/dev/tty': No such device or address" (#591)
  roles/kubectl/tasks/install-Debian.yml
Due: ansible-collection-commons-molecule-kubectl

kubectl: remove kubectl symlink in /usr/local/bin
  roles/kubectl/tasks/install-Debian.yml
Due: ansible-collection-commons-molecule-kubectl

kubectl: remove kubectl symlink in /usr/local/bin (#593)
  roles/kubectl/tasks/install-Debian.yml
Due: ansible-collection-commons-molecule-kubectl

zuul: push osism-ansible container image
  .zuul.yaml
Due: none

zuul: push osism-ansible container image (#594)
  .zuul.yaml
Due: none

Test centos-molecule zuul-job with certificates role
  .zuul.yaml
  molecule/delegated/tests/certificates/main.py
  molecule/delegated/tests/certificates/redhat.py
  playbooks/centos-molecule/run.yml
  roles/centos_molecule/defaults/main.yml
  roles/centos_molecule/tasks/install-Debian.yml
  roles/centos_molecule/tasks/install-RedHat.yml
  roles/centos_molecule/tasks/main.yml
  roles/certificates/defaults/main.yml
  roles/certificates/tasks/install-RedHat.yml
  roles/certificates/tasks/main.yml
  roles/certificates/vars/Debian.yml
  roles/certificates/vars/RedHat.yml
Due: ansible-collection-commons-molecule-certificates

RHEL implementation for certificates role and tests
  .zuul.yaml
  molecule/delegated/molecule.yml
  roles/certificates/tasks/install-Debian.yml
Due: ansible-collection-commons-molecule-certificates

Path conditions:
  ansible-collection-commons-molecule-certificates: any of: ^roles\/certificates\/.*$
  ansible-collection-commons-molecule-cleanup: any of: ^roles\/cleanup\/.*$
  ansible-collection-commons-molecule-configfs: any of: ^roles\/configfs\/.*$
  ansible-collection-commons-molecule-configuration: any of: ^roles\/configuration\/.*$
  ansible-collection-commons-molecule-docker_compose: any of: ^roles\/docker_compose\/.*$
  ansible-collection-commons-molecule-facts: any of: ^roles\/facts\/.*$
  ansible-collection-commons-molecule-firewall: any of: ^roles\/firewall\/.*$
  ansible-collection-commons-molecule-hostname: any of: ^roles\/hostname\/.*$
  ansible-collection-commons-molecule-hosts: any of: ^roles\/hosts\/.*$
  ansible-collection-commons-molecule-ipmitool: any of: ^roles\/ipmitool\/.*$
  ansible-collection-commons-molecule-kernel_modules: any of: ^roles\/kernel_modules\/.*$
  ansible-collection-commons-molecule-kompose: any of: ^roles\/kompose\/.*$
  ansible-collection-commons-molecule-kubectl: any of: ^roles\/kubectl\/.*$
  ansible-collection-commons-molecule-lynis: any of: ^roles\/lynis\/.*$
  ansible-collection-commons-molecule-microcode: any of: ^roles\/microcode\/.*$
  ansible-collection-commons-molecule-motd: any of: ^roles\/motd\/.*$
  ansible-collection-commons-molecule-operator: any of: ^roles\/operator\/.*$
  ansible-collection-commons-molecule-packages: any of: ^roles\/packages\/.*$
  ansible-collection-commons-molecule-podman: any of: ^roles\/podman\/.*$
  ansible-collection-commons-molecule-proxy: any of: ^roles\/proxy\/.*$
  ansible-collection-commons-molecule-repository: any of: ^roles\/repository\/.*$
  ansible-collection-commons-molecule-resolvconf: any of: ^roles\/resolvconf\/.*$
  ansible-collection-commons-molecule-runc: any of: ^roles\/runc\/.*$
  ansible-collection-commons-molecule-services: any of: ^roles\/services\/.*$
  ansible-collection-commons-molecule-sosreport: any of: ^roles\/sosreport\/.*$
  ansible-collection-commons-molecule-sshconfig: any of: ^roles\/sshconfig\/.*$
  ansible-collection-commons-molecule-state: any of: ^roles\/state\/.*$
  ansible-collection-commons-molecule-sysctl: any of: ^roles\/sysctl\/.*$
  ansible-collection-commons-molecule-systohc: any of: ^roles\/systohc\/.*$
  ansible-collection-commons-molecule-timezone: any of: ^roles\/timezone\/.*$
  ansible-collection-commons-molecule-trivy: any of: ^roles\/trivy\/.*$
