Repository osism/ansible-collection-commons: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

ansible-collection-commons-molecule-certificates:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: certificates

ansible-collection-commons-molecule-cleanup:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: cleanup

ansible-collection-commons-molecule-configfs:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: configfs

ansible-collection-commons-molecule-configuration:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: configuration

ansible-collection-commons-molecule-docker_compose:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: docker_compose

ansible-collection-commons-molecule-docker_login:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: docker_login

ansible-collection-commons-molecule-facts:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: facts

ansible-collection-commons-molecule-firewall:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: firewall

ansible-collection-commons-molecule-hostname:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: hostname

ansible-collection-commons-molecule-hosts:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: hosts

ansible-collection-commons-molecule-ipmitool:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: ipmitool

ansible-collection-commons-molecule-kernel_modules:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: kernel_modules

ansible-collection-commons-molecule-known_hosts:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: known_hosts

ansible-collection-commons-molecule-kompose:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: kompose

ansible-collection-commons-molecule-kubectl:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: kubectl

ansible-collection-commons-molecule-limits:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: limits

ansible-collection-commons-molecule-lynis:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: lynis

ansible-collection-commons-molecule-microcode:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: microcode

ansible-collection-commons-molecule-motd:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: motd

ansible-collection-commons-molecule-network:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: network

ansible-collection-commons-molecule-operator:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: operator

ansible-collection-commons-molecule-packages:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: packages

network: add Group to vxlan netdev
  roles/network/templates/vxlan.netdev.j2
Due: ansible-collection-commons-molecule-network

network: add Group to vxlan netdev (#762)
  roles/network/templates/vxlan.netdev.j2
Due: ansible-collection-commons-molecule-network

network: to not set Group for netdev by default
  roles/network/templates/vxlan.netdev.j2
  roles/network/templates/vxlan.network.j2
Due: ansible-collection-commons-molecule-network

network: to not set Group for netdev by default (#763)
  roles/network/templates/vxlan.netdev.j2
  roles/network/templates/vxlan.network.j2
Due: ansible-collection-commons-molecule-network

network: make MTU of vxlan netdev configurable
  roles/network/templates/vxlan.netdev.j2
Due: ansible-collection-commons-molecule-network

network: make MTU of vxlan netdev configurable (#765)
  roles/network/templates/vxlan.netdev.j2
Due: ansible-collection-commons-molecule-network

Cleanup ansible-lint configuration
  .ansible-lint
Due: none

Cleanup ansible-lint configuration (#771)
  .ansible-lint
Due: none

Remove kubectl role
  .zuul.yaml
  molecule/delegated/prepare/kubectl.yml
  molecule/delegated/tests/kubectl/__init__.py
  molecule/delegated/tests/kubectl/debian.py
  molecule/delegated/tests/kubectl/main.py
  molecule/delegated/tests/kubectl/redhat.py
  molecule/delegated/vars/kubectl.yml
  molecule/delegated/verify/kubectl.yml
  roles/kubectl/README.md
  roles/kubectl/defaults/main.yml
  roles/kubectl/meta/main.yml
  roles/kubectl/tasks/install-Debian-family.yml
  roles/kubectl/tasks/install-RedHat-family.yml
  roles/kubectl/tasks/main.yml
  roles/kubectl/vars/Debian-family.yml
  roles/kubectl/vars/RedHat-family.yml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

Remove kubectl role (#772)
  .zuul.yaml
  molecule/delegated/prepare/kubectl.yml
  molecule/delegated/tests/kubectl/__init__.py
  molecule/delegated/tests/kubectl/debian.py
  molecule/delegated/tests/kubectl/main.py
  molecule/delegated/tests/kubectl/redhat.py
  molecule/delegated/vars/kubectl.yml
  molecule/delegated/verify/kubectl.yml
  roles/kubectl/README.md
  roles/kubectl/defaults/main.yml
  roles/kubectl/meta/main.yml
  roles/kubectl/tasks/install-Debian-family.yml
  roles/kubectl/tasks/install-RedHat-family.yml
  roles/kubectl/tasks/main.yml
  roles/kubectl/vars/Debian-family.yml
  roles/kubectl/vars/RedHat-family.yml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

Remove k9s role
  .zuul.yaml
  roles/k9s/README.md
  roles/k9s/defaults/main.yml
  roles/k9s/meta/main.yml
  roles/k9s/tasks/install-Debian-family.yml
  roles/k9s/tasks/install-RedHat-family.yml
  roles/k9s/tasks/main.yml
  roles/k9s/vars/Debian-family.yml
  roles/k9s/vars/RedHat-family.yml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

Remove k9s role (#773)
  .zuul.yaml
  roles/k9s/README.md
  roles/k9s/defaults/main.yml
  roles/k9s/meta/main.yml
  roles/k9s/tasks/install-Debian-family.yml
  roles/k9s/tasks/install-RedHat-family.yml
  roles/k9s/tasks/main.yml
  roles/k9s/vars/Debian-family.yml
  roles/k9s/vars/RedHat-family.yml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

meta: use requires_ansible >=2.16
  meta/runtime.yml
Due: none

configuration: make no_log configurable
  roles/configuration/defaults/main.yml
  roles/configuration/tasks/git.yml
  roles/configuration/tasks/update.yml
Due: ansible-collection-commons-molecule-configuration

network: add MACAddress to vxlan netdev
  roles/network/templates/vxlan.netdev.j2
Due: ansible-collection-commons-molecule-network

configuration: make no_log configurable (#776)
  roles/configuration/defaults/main.yml
  roles/configuration/tasks/git.yml
  roles/configuration/tasks/update.yml
Due: ansible-collection-commons-molecule-configuration

network: add MACAddress to vxlan netdev (#761)
  roles/network/templates/vxlan.netdev.j2
Due: ansible-collection-commons-molecule-network

hostname: allow to overwrite the hostname with hostname_name
  roles/hostname/defaults/main.yml
  roles/hostname/tasks/main.yml
Due: ansible-collection-commons-molecule-hostname

hostname: allow to overwrite the hostname with hostname_name (#777)
  roles/hostname/defaults/main.yml
  roles/hostname/tasks/main.yml
Due: ansible-collection-commons-molecule-hostname

zuul: rebuild osism-kubernetes on push
  .zuul.yaml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

zuul: rebuild osism-kubernetes (#779)
  .zuul.yaml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

zuul: refresh secrets
  .zuul.yaml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

zuul: refresh secrets (#781)
  .zuul.yaml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

molecule: enhance motd tests
  molecule/delegated/tests/motd/debian.py
  molecule/delegated/tests/motd/main.py
  molecule/delegated/tests/motd/redhat.py
  molecule/delegated/vars/motd.yml
Due: ansible-collection-commons-molecule-motd

molecule: enhance motd tests (#782)
  molecule/delegated/tests/motd/debian.py
  molecule/delegated/tests/motd/main.py
  molecule/delegated/tests/motd/redhat.py
  molecule/delegated/vars/motd.yml
Due: ansible-collection-commons-molecule-motd

operator: add operator_environment param for custom env variables
  roles/operator/defaults/main.yml
  roles/operator/tasks/main.yml
Due: ansible-collection-commons-molecule-operator

operator: add operator_environment param for custom env variables (#788)
  roles/operator/defaults/main.yml
  roles/operator/tasks/main.yml
Due: ansible-collection-commons-molecule-operator

zuul: remove gate pipeline
  .zuul.yaml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

zuul: remove gate pipeline (#789)
  .zuul.yaml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

zuul: add cosign secrets
  .zuul.yaml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

zuul: add cosign secrets (#790)
  .zuul.yaml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

motd: document parameters
  roles/motd/defaults/main.yml
Due: ansible-collection-commons-molecule-motd

motd: document parameters (#792)
  roles/motd/defaults/main.yml
Due: ansible-collection-commons-molecule-motd

certificates: update parameter docs
  roles/certificates/defaults/main.yml
Due: ansible-collection-commons-molecule-certificates

certificates: update parameter docs (#793)
  roles/certificates/defaults/main.yml
Due: ansible-collection-commons-molecule-certificates

cleanup: document parameters
  roles/cleanup/defaults/main.yml
Due: ansible-collection-commons-molecule-cleanup

cleanup: document parameters (#794)
  roles/cleanup/defaults/main.yml
Due: ansible-collection-commons-molecule-cleanup

configfs: add empty defaults files
  roles/configfs/defaults/main.yml
Due: ansible-collection-commons-molecule-configfs

configfs: add empty defaults files (#795)
  roles/configfs/defaults/main.yml
Due: ansible-collection-commons-molecule-configfs

configuration: document parameters
  roles/configuration/defaults/main.yml
Due: ansible-collection-commons-molecule-configuration

Path conditions:
  ansible-collection-commons-molecule-certificates: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/certificates\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/certificates.*$
  ansible-collection-commons-molecule-cleanup: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/cleanup\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/cleanup.*$
  ansible-collection-commons-molecule-configfs: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/configfs\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/configfs.*$
  ansible-collection-commons-molecule-configuration: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/configuration\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/configuration.*$
  ansible-collection-commons-molecule-docker_compose: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/docker_compose\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/docker_compose.*$
  ansible-collection-commons-molecule-docker_login: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/docker_login\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/docker_login.*$
  ansible-collection-commons-molecule-facts: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/facts\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/facts.*$
  ansible-collection-commons-molecule-firewall: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/firewall\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/firewall.*$
  ansible-collection-commons-molecule-hostname: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/hostname\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/hostname.*$
  ansible-collection-commons-molecule-hosts: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/hosts\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/hosts.*$
  ansible-collection-commons-molecule-ipmitool: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/ipimtool\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/ipmitool.*$
  ansible-collection-commons-molecule-kernel_modules: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/kernel_modules\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/kernel_modules.*$
  ansible-collection-commons-molecule-known_hosts: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/known_hosts\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/known_hosts.*$
  ansible-collection-commons-molecule-kompose: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/kompose\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/kompose.*$
  ansible-collection-commons-molecule-kubectl: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/kubectl\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/kubectl.*$
  ansible-collection-commons-molecule-limits: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/limits\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/limits.*$
  ansible-collection-commons-molecule-lynis: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/lynis\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/lynis.*$
  ansible-collection-commons-molecule-microcode: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/microcode\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/microcode.*$
  ansible-collection-commons-molecule-motd: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/motd\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/motd.*$
  ansible-collection-commons-molecule-network: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/network\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/network.*$
  ansible-collection-commons-molecule-operator: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/operator\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/operator.*$
  ansible-collection-commons-molecule-packages: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/packages\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/packages.*$
  ansible-collection-commons-molecule-podman: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/podman\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/podman.*$
  ansible-collection-commons-molecule-proxy: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/proxy\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/proxy.*$
  ansible-collection-commons-molecule-repository: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/repository\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/repository.*$
  ansible-collection-commons-molecule-resolvconf: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/resolvconf\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/resolvconf.*$
  ansible-collection-commons-molecule-runc: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/runc\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/runc.*$
  ansible-collection-commons-molecule-services: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/services\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/services.*$
  ansible-collection-commons-molecule-sosreport: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/sosreport\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/sosreport.*$
  ansible-collection-commons-molecule-sshconfig: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/sshconfig\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/sshconfig.*$
  ansible-collection-commons-molecule-state: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/state\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/state.*$
  ansible-collection-commons-molecule-sysctl: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/sysctl\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/sysctl.*$
  ansible-collection-commons-molecule-systohc: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/systohc\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/systohc.*$
  ansible-collection-commons-molecule-timezone: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/timezone\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/timezone.*$
  ansible-collection-commons-molecule-trivy: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/trivy\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/trivy.*$
  ansible-collection-commons-molecule-user: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/user\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/user.*$
