Repository osism/ansible-collection-commons: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

Path conditions:
  ansible-collection-commons-molecule-certificates: any of: ^roles\/certificates\/.*$, ^molecule\/delegated\/tests\/certificates.*$
  ansible-collection-commons-molecule-cleanup: any of: ^roles\/cleanup\/.*$, ^molecule\/delegated\/tests\/cleanup.*$
  ansible-collection-commons-molecule-configfs: any of: ^roles\/configfs\/.*$, ^molecule\/delegated\/tests\/configfs.*$
  ansible-collection-commons-molecule-configuration: any of: ^roles\/configuration\/.*$, ^molecule\/delegated\/tests\/configuration.*$
  ansible-collection-commons-molecule-docker_compose: any of: ^roles\/docker_compose\/.*$, ^molecule\/delegated\/tests\/docker_compose.*$
  ansible-collection-commons-molecule-docker_login: any of: ^roles\/docker_login\/.*$, ^molecule\/delegated\/tests\/docker_login.*$
  ansible-collection-commons-molecule-facts: any of: ^roles\/facts\/.*$, ^molecule\/delegated\/tests\/facts.*$
  ansible-collection-commons-molecule-firewall: any of: ^roles\/firewall\/.*$, ^molecule\/delegated\/tests\/firewall.*$
  ansible-collection-commons-molecule-hostname: any of: ^roles\/hostname\/.*$, ^molecule\/delegated\/tests\/hostname.*$
  ansible-collection-commons-molecule-hosts: any of: ^roles\/hosts\/.*$, ^molecule\/delegated\/tests\/hosts.*$
  ansible-collection-commons-molecule-ipmitool: any of: ^roles\/ipimtool\/.*$, ^molecule\/delegated\/tests\/ipmitool.*$
  ansible-collection-commons-molecule-kernel_modules: any of: ^roles\/kernel_modules\/.*$, ^molecule\/delegated\/tests\/kernel_modules.*$
  ansible-collection-commons-molecule-known_hosts: any of: ^roles\/known_hosts\/.*$, ^molecule\/delegated\/tests\/known_hosts.*$
  ansible-collection-commons-molecule-limits: any of: ^roles\/limits\/.*$, ^molecule\/delegated\/tests\/limits.*$
  ansible-collection-commons-molecule-lynis: any of: ^roles\/lynis\/.*$, ^molecule\/delegated\/tests\/lynis.*$
  ansible-collection-commons-molecule-microcode: any of: ^roles\/microcode\/.*$, ^molecule\/delegated\/tests\/microcode.*$
  ansible-collection-commons-molecule-motd: any of: ^roles\/motd\/.*$, ^molecule\/delegated\/tests\/motd.*$
  ansible-collection-commons-molecule-network: any of: ^roles\/network\/.*$, ^molecule\/delegated\/tests\/network.*$
  ansible-collection-commons-molecule-operator: any of: ^roles\/operator\/.*$, ^molecule\/delegated\/tests\/operator.*$
  ansible-collection-commons-molecule-packages: any of: ^roles\/packages\/.*$, ^molecule\/delegated\/tests\/packages.*$
  ansible-collection-commons-molecule-podman: any of: ^roles\/podman\/.*$, ^molecule\/delegated\/tests\/podman.*$
  ansible-collection-commons-molecule-proxy: any of: ^roles\/proxy\/.*$, ^molecule\/delegated\/tests\/proxy.*$
  ansible-collection-commons-molecule-repository: any of: ^roles\/repository\/.*$, ^molecule\/delegated\/tests\/repository.*$
  ansible-collection-commons-molecule-resolvconf: any of: ^roles\/resolvconf\/.*$, ^molecule\/delegated\/tests\/resolvconf.*$
  ansible-collection-commons-molecule-runc: any of: ^roles\/runc\/.*$, ^molecule\/delegated\/tests\/runc.*$
  ansible-collection-commons-molecule-services: any of: ^roles\/services\/.*$, ^molecule\/delegated\/tests\/services.*$
  ansible-collection-commons-molecule-sosreport: any of: ^roles\/sosreport\/.*$, ^molecule\/delegated\/tests\/sosreport.*$
  ansible-collection-commons-molecule-sshconfig: any of: ^roles\/sshconfig\/.*$, ^molecule\/delegated\/tests\/sshconfig.*$
  ansible-collection-commons-molecule-state: any of: ^roles\/state\/.*$, ^molecule\/delegated\/tests\/state.*$
  ansible-collection-commons-molecule-sysctl: any of: ^roles\/sysctl\/.*$, ^molecule\/delegated\/tests\/sysctl.*$
  ansible-collection-commons-molecule-systohc: any of: ^roles\/systohc\/.*$, ^molecule\/delegated\/tests\/systohc.*$
  ansible-collection-commons-molecule-timezone: any of: ^roles\/timezone\/.*$, ^molecule\/delegated\/tests\/timezone.*$
  ansible-collection-commons-molecule-trivy: any of: ^roles\/trivy\/.*$, ^molecule\/delegated\/tests\/trivy.*$
  ansible-collection-commons-molecule-user: any of: ^roles\/user\/.*$, ^molecule\/delegated\/tests\/user.*$

molecule: test configuration_git_preserve_files behaviour
  .zuul.yaml
  molecule/delegated/prepare/configuration.yml
  molecule/delegated/tests/configuration/preserve.py
  molecule/delegated/vars/configuration.yml
Due: ansible-collection-commons-molecule-configuration

configuration: make preserve-files update transactional and ownership-safe
  molecule/delegated/tests/configuration/preserve.py
  roles/configuration/tasks/restore.yml
  roles/configuration/tasks/update.yml
Due: ansible-collection-commons-molecule-configuration

configuration: preserve local files across configuration update
  roles/configuration/defaults/main.yml
  roles/configuration/tasks/update.yml
Due: ansible-collection-commons-molecule-configuration

user: delegate remote SSH key fetch to localhost by default
  roles/user/defaults/main.yml
  roles/user/tasks/remote-key.yml
Due: ansible-collection-commons-molecule-user

Fix project-board automation for fork PRs
  .github/workflows/add-to-project.yml
Due: none

molecule: cover remote SSH key fetch for user role
  molecule/delegated/tests/user.py
  molecule/delegated/vars/user.yml
Due: ansible-collection-commons-molecule-user

user: prefetch remote SSH keys once and drop no_log
  roles/user/defaults/main.yml
  roles/user/tasks/remote-key-prefetch.yml
  roles/user/tasks/remote-key.yml
  roles/user/tasks/type-default.yml
  roles/user/tasks/type-keyfile.yml
Due: ansible-collection-commons-molecule-user

molecule: retry remote SSH key fetch in user tests
  molecule/delegated/tests/util/util.py
Due: none

Remove dead scan_services mock_modules entry
  .ansible-lint
Due: none

Remove dead scan_services mock_modules entry (#864)
  .ansible-lint
Due: none

proxy: make proxy_proxies conditionals boolean
  roles/proxy/tasks/main.yml
Due: ansible-collection-commons-molecule-proxy

repository: make repository_key_ids conditional boolean
  roles/repository/tasks/Debian.yml
Due: ansible-collection-commons-molecule-repository

zuul: bump molecule ansible test pin to 12.3.0
  .zuul.yaml
Due: none

changelog: add release notes for v0.20260601.0–v0.20260721.0
  CHANGELOG.md
Due: none

changelog: add release notes for v0.20260601.0–v0.20260721.0 (#868)
  CHANGELOG.md
Due: none

proxy: make apt conditional boolean
  roles/proxy/tasks/Debian-family.yml
Due: ansible-collection-commons-molecule-proxy

proxy: make apt conditional boolean (#870)
  roles/proxy/tasks/Debian-family.yml
Due: ansible-collection-commons-molecule-proxy

changelog: add release notes for v0.20260724.0
  CHANGELOG.md
Due: none

changelog: add release notes for v0.20260724.0 (#871)
  CHANGELOG.md
Due: none

docker_login: add a second login as the operator user
  molecule/delegated/tests/docker_login.py
  molecule/delegated/vars/docker_login.yml
  roles/docker_login/defaults/main.yml
  roles/docker_login/tasks/main.yml
Due: ansible-collection-commons-molecule-docker_login

docker_login: add a second login as the operator user (#873)
  molecule/delegated/tests/docker_login.py
  molecule/delegated/vars/docker_login.yml
  roles/docker_login/defaults/main.yml
  roles/docker_login/tasks/main.yml
Due: ansible-collection-commons-molecule-docker_login

changelog: add release notes for v0.20260910.0
  CHANGELOG.md
Due: none

changelog: add release notes for v0.20260910.0 (#874)
  CHANGELOG.md
Due: none

configuration: narrow the clone task no_log
  roles/configuration/tasks/update.yml
Due: ansible-collection-commons-molecule-configuration

changelog: add release notes for v0.20260924.0
  CHANGELOG.md
Due: none

changelog: add release notes for v0.20260924.0 (#876)
  CHANGELOG.md
Due: none

Refuse a host whose name others derive differently
  .zuul.yaml
  molecule/delegated/prepare/hostname_check.yml
  molecule/delegated/tests/hostname_check.py
  molecule/delegated/vars/hostname_check.yml
  roles/hostname_check/README.md
  roles/hostname_check/defaults/main.yml
  roles/hostname_check/meta/main.yml
  roles/hostname_check/tasks/main.yml
Due: ansible-collection-commons-molecule-hostname

hostname_check: also refuse colliding host names
  molecule/delegated/tests/hostname_check.py
  roles/hostname_check/README.md
  roles/hostname_check/tasks/main.yml
Due: ansible-collection-commons-molecule-hostname

hostname: refuse a name longer than HOST_NAME_MAX
  roles/hostname/tasks/main.yml
  roles/hostname_check/README.md
Due: ansible-collection-commons-molecule-hostname
