Repository osism/ansible-collection-commons: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

ansible-collection-commons-molecule-certificates:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: certificates

ansible-collection-commons-molecule-cleanup:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: cleanup

ansible-collection-commons-molecule-configfs:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: configfs

ansible-collection-commons-molecule-configuration:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: configuration

ansible-collection-commons-molecule-docker_compose:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: docker_compose

ansible-collection-commons-molecule-docker_login:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: docker_login

ansible-collection-commons-molecule-facts:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: facts

ansible-collection-commons-molecule-firewall:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: firewall

ansible-collection-commons-molecule-hostname:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: hostname

ansible-collection-commons-molecule-hosts:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: hosts

ansible-collection-commons-molecule-ipmitool:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: ipmitool

ansible-collection-commons-molecule-kernel_modules:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: kernel_modules

ansible-collection-commons-molecule-known_hosts:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: known_hosts

ansible-collection-commons-molecule-limits:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: limits

ansible-collection-commons-molecule-lynis:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: lynis

ansible-collection-commons-molecule-microcode:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: microcode

ansible-collection-commons-molecule-motd:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: motd

ansible-collection-commons-molecule-network:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: network

ansible-collection-commons-molecule-operator:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: operator

ansible-collection-commons-molecule-packages:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: packages

ansible-collection-commons-molecule-podman:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: podman

ansible-collection-commons-molecule-proxy:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: proxy

Don't install extra pkgs for network-extra-init
  roles/network/tasks/network-extra-init.yml
  roles/network/vars/Debian-family.yml
  roles/network/vars/RedHat-family.yml
Due: ansible-collection-commons-molecule-network

Don't install extra pkgs for network-extra-init (#833)
  roles/network/tasks/network-extra-init.yml
  roles/network/vars/Debian-family.yml
  roles/network/vars/RedHat-family.yml
Due: ansible-collection-commons-molecule-network

network: allow providing netplan configuration template via variable
  roles/network/defaults/main.yml
  roles/network/tasks/netplan-Debian-family.yml
  roles/network/tasks/netplan-RedHat-family.yml
Due: ansible-collection-commons-molecule-network

operator: fix Ansible 2.19 deprecation warning for int conditional
  roles/operator/tasks/main.yml
Due: ansible-collection-commons-molecule-operator

operator: fix Ansible 2.19 deprecation warning for int conditional (#836)
  roles/operator/tasks/main.yml
Due: ansible-collection-commons-molecule-operator

hosts: cache hostvars per iteration in hosts-template.j2
  roles/hosts/templates/hosts-template.j2
Due: ansible-collection-commons-molecule-hosts

hosts: cache hostvars per iteration in hosts-template.j2 (#837)
  roles/hosts/templates/hosts-template.j2
Due: ansible-collection-commons-molecule-hosts

hosts: add fast type with pre-computed entries and single-render template
  roles/hosts/defaults/main.yml
  roles/hosts/tasks/type-fast.yml
  roles/hosts/templates/hosts-fast.j2
Due: ansible-collection-commons-molecule-hosts

hosts: add fast type with pre-computed entries and single-render template (#838)
  roles/hosts/defaults/main.yml
  roles/hosts/tasks/type-fast.yml
  roles/hosts/templates/hosts-fast.j2
Due: ansible-collection-commons-molecule-hosts

Add CHANGELOG.md file
  CHANGELOG.md
Due: none

Add CHANGELOG.md file (#839)
  CHANGELOG.md
Due: none

zuul: remove centos 9 und ubuntu 22.04 jobs
  .zuul.yaml
Due: none

zuul: remove centos 9 und ubuntu 22.04 jobs (#840)
  .zuul.yaml
Due: none

network: allow providing netplan configuration template via variable (#834)
  roles/network/defaults/main.yml
  roles/network/tasks/netplan-Debian-family.yml
  roles/network/tasks/netplan-RedHat-family.yml
Due: ansible-collection-commons-molecule-network

user: allow per-user sudoers specification
  roles/user/defaults/main.yml
  roles/user/templates/config.j2
Due: ansible-collection-commons-molecule-user

network: name block tasks in netplan task files
  roles/network/tasks/netplan-Debian-family.yml
  roles/network/tasks/netplan-RedHat-family.yml
Due: ansible-collection-commons-molecule-network

Fix black 26.3.1 formatting
  molecule/delegated/tests/docker_compose.py
  plugins/callback/still_alive.py
Due: ansible-collection-commons-molecule-docker_compose

Fix black 26.3.1 formatting (#845)
  molecule/delegated/tests/docker_compose.py
  plugins/callback/still_alive.py
Due: ansible-collection-commons-molecule-docker_compose

operator: ensure password when-conditions return bool
  roles/operator/tasks/main.yml
Due: ansible-collection-commons-molecule-operator

operator: ensure password when-conditions return bool (#846)
  roles/operator/tasks/main.yml
Due: ansible-collection-commons-molecule-operator

actions: automatically add all opened issues and PRs to project board
  .github/workflows/add-to-project.yml
Due: none

sosreport: drop become for local archive directory creation
  molecule/delegated/vars/sosreport.yml
  roles/sosreport/tasks/main.yml
Due: ansible-collection-commons-molecule-sosreport

sosreport: drop become for local archive directory creation (#849)
  molecule/delegated/vars/sosreport.yml
  roles/sosreport/tasks/main.yml
Due: ansible-collection-commons-molecule-sosreport

sosreport: create local archive directory only once
  roles/sosreport/tasks/main.yml
Due: ansible-collection-commons-molecule-sosreport

sosreport: create local archive directory only once (#850)
  roles/sosreport/tasks/main.yml
Due: ansible-collection-commons-molecule-sosreport

sosreport: fix file existence checks before rename
  roles/sosreport/tasks/main.yml
Due: ansible-collection-commons-molecule-sosreport

sosreport: remove invalid change: true from fetch tasks
  roles/sosreport/tasks/main.yml
Due: ansible-collection-commons-molecule-sosreport

user: add parameter documentation to defaults
  roles/user/defaults/main.yml
Due: ansible-collection-commons-molecule-user

molecule: add default stub to silence CRITICAL error
  molecule/default/molecule.yml
Due: none

molecule: add default stub to silence CRITICAL error (#852)
  molecule/default/molecule.yml
Due: none

ansible: drop obsolete osism-fqcn noqa on blocks
  roles/network/tasks/netplan-Debian-family.yml
  roles/network/tasks/netplan-RedHat-family.yml
  roles/trivy/tasks/install-Debian-family.yml
  roles/user/tasks/remote-key.yml
Due: ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

ansible: drop obsolete osism-fqcn noqa on blocks (#853)
  roles/network/tasks/netplan-Debian-family.yml
  roles/network/tasks/netplan-RedHat-family.yml
  roles/trivy/tasks/install-Debian-family.yml
  roles/user/tasks/remote-key.yml
Due: ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

configuration: preserve local files across configuration update
  roles/configuration/defaults/main.yml
  roles/configuration/tasks/update.yml
Due: ansible-collection-commons-molecule-configuration

Path conditions:
  ansible-collection-commons-molecule-certificates: any of: ^roles\/certificates\/.*$, ^molecule\/delegated\/tests\/certificates.*$
  ansible-collection-commons-molecule-cleanup: any of: ^roles\/cleanup\/.*$, ^molecule\/delegated\/tests\/cleanup.*$
  ansible-collection-commons-molecule-configfs: any of: ^roles\/configfs\/.*$, ^molecule\/delegated\/tests\/configfs.*$
  ansible-collection-commons-molecule-configuration: any of: ^roles\/configuration\/.*$, ^molecule\/delegated\/tests\/configuration.*$
  ansible-collection-commons-molecule-docker_compose: any of: ^roles\/docker_compose\/.*$, ^molecule\/delegated\/tests\/docker_compose.*$
  ansible-collection-commons-molecule-docker_login: any of: ^roles\/docker_login\/.*$, ^molecule\/delegated\/tests\/docker_login.*$
  ansible-collection-commons-molecule-facts: any of: ^roles\/facts\/.*$, ^molecule\/delegated\/tests\/facts.*$
  ansible-collection-commons-molecule-firewall: any of: ^roles\/firewall\/.*$, ^molecule\/delegated\/tests\/firewall.*$
  ansible-collection-commons-molecule-hostname: any of: ^roles\/hostname\/.*$, ^molecule\/delegated\/tests\/hostname.*$
  ansible-collection-commons-molecule-hosts: any of: ^roles\/hosts\/.*$, ^molecule\/delegated\/tests\/hosts.*$
  ansible-collection-commons-molecule-ipmitool: any of: ^roles\/ipimtool\/.*$, ^molecule\/delegated\/tests\/ipmitool.*$
  ansible-collection-commons-molecule-kernel_modules: any of: ^roles\/kernel_modules\/.*$, ^molecule\/delegated\/tests\/kernel_modules.*$
  ansible-collection-commons-molecule-known_hosts: any of: ^roles\/known_hosts\/.*$, ^molecule\/delegated\/tests\/known_hosts.*$
  ansible-collection-commons-molecule-limits: any of: ^roles\/limits\/.*$, ^molecule\/delegated\/tests\/limits.*$
  ansible-collection-commons-molecule-lynis: any of: ^roles\/lynis\/.*$, ^molecule\/delegated\/tests\/lynis.*$
  ansible-collection-commons-molecule-microcode: any of: ^roles\/microcode\/.*$, ^molecule\/delegated\/tests\/microcode.*$
  ansible-collection-commons-molecule-motd: any of: ^roles\/motd\/.*$, ^molecule\/delegated\/tests\/motd.*$
  ansible-collection-commons-molecule-network: any of: ^roles\/network\/.*$, ^molecule\/delegated\/tests\/network.*$
  ansible-collection-commons-molecule-operator: any of: ^roles\/operator\/.*$, ^molecule\/delegated\/tests\/operator.*$
  ansible-collection-commons-molecule-packages: any of: ^roles\/packages\/.*$, ^molecule\/delegated\/tests\/packages.*$
  ansible-collection-commons-molecule-podman: any of: ^roles\/podman\/.*$, ^molecule\/delegated\/tests\/podman.*$
  ansible-collection-commons-molecule-proxy: any of: ^roles\/proxy\/.*$, ^molecule\/delegated\/tests\/proxy.*$
  ansible-collection-commons-molecule-repository: any of: ^roles\/repository\/.*$, ^molecule\/delegated\/tests\/repository.*$
  ansible-collection-commons-molecule-resolvconf: any of: ^roles\/resolvconf\/.*$, ^molecule\/delegated\/tests\/resolvconf.*$
  ansible-collection-commons-molecule-runc: any of: ^roles\/runc\/.*$, ^molecule\/delegated\/tests\/runc.*$
  ansible-collection-commons-molecule-services: any of: ^roles\/services\/.*$, ^molecule\/delegated\/tests\/services.*$
  ansible-collection-commons-molecule-sosreport: any of: ^roles\/sosreport\/.*$, ^molecule\/delegated\/tests\/sosreport.*$
  ansible-collection-commons-molecule-sshconfig: any of: ^roles\/sshconfig\/.*$, ^molecule\/delegated\/tests\/sshconfig.*$
  ansible-collection-commons-molecule-state: any of: ^roles\/state\/.*$, ^molecule\/delegated\/tests\/state.*$
  ansible-collection-commons-molecule-sysctl: any of: ^roles\/sysctl\/.*$, ^molecule\/delegated\/tests\/sysctl.*$
  ansible-collection-commons-molecule-systohc: any of: ^roles\/systohc\/.*$, ^molecule\/delegated\/tests\/systohc.*$
  ansible-collection-commons-molecule-timezone: any of: ^roles\/timezone\/.*$, ^molecule\/delegated\/tests\/timezone.*$
  ansible-collection-commons-molecule-trivy: any of: ^roles\/trivy\/.*$, ^molecule\/delegated\/tests\/trivy.*$
  ansible-collection-commons-molecule-user: any of: ^roles\/user\/.*$, ^molecule\/delegated\/tests\/user.*$
