Repository osism/ansible-collection-commons: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy

Path conditions:
  ansible-collection-commons-molecule-certificates: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/certificates\/.*$, ^roles\/certificates\/.*$
  ansible-collection-commons-molecule-cleanup: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/cleanup\/.*$, ^roles\/cleanup\/.*$
  ansible-collection-commons-molecule-configfs: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/configfs\/.*$, ^roles\/configfs\/.*$
  ansible-collection-commons-molecule-configuration: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/configuration\/.*$, ^roles\/configuraion\/.*$
  ansible-collection-commons-molecule-docker_compose: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/docker_compose\/.*$, ^roles\/docker_compose\/.*$
  ansible-collection-commons-molecule-facts: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/facts\/.*$, ^roles\/facts\/.*$
  ansible-collection-commons-molecule-firewall: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/firewall\/.*$, ^roles\/firewall\/.*$
  ansible-collection-commons-molecule-hostname: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/hostname\/.*$, ^roles\/hostname\/.*$
  ansible-collection-commons-molecule-hosts: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/hosts\/.*$, ^roles\/hosts\/.*$
  ansible-collection-commons-molecule-ipmitool: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/ipimtool\/.*$, ^roles\/ipimtool\/.*$
  ansible-collection-commons-molecule-kernel_modules: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/kernel_modules\/.*$, ^roles\/kernel_modules\/.*$
  ansible-collection-commons-molecule-kompose: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/kompose\/.*$, ^roles\/kompose\/.*$
  ansible-collection-commons-molecule-kubectl: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/kubectl\/.*$, ^roles\/kubectl\/.*$
  ansible-collection-commons-molecule-lynis: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/lynis\/.*$, ^roles\/lynis\/.*$
  ansible-collection-commons-molecule-microcode: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/microcode\/.*$, ^roles\/microcode\/.*$
  ansible-collection-commons-molecule-motd: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/motd\/.*$, ^roles\/motd\/.*$
  ansible-collection-commons-molecule-operator: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/operator\/.*$, ^roles\/operator\/.*$
  ansible-collection-commons-molecule-packages: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/packages\/.*$, ^roles\/packages\/.*$
  ansible-collection-commons-molecule-podman: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/podman\/.*$, ^roles\/podman\/.*$
  ansible-collection-commons-molecule-proxy: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/proxy\/.*$, ^roles\/proxy\/.*$
  ansible-collection-commons-molecule-repository: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/repository\/.*$, ^roles\/repository\/.*$
  ansible-collection-commons-molecule-resolvconf: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/resolvconf\/.*$, ^roles\/resolvconf\/.*$
  ansible-collection-commons-molecule-runc: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/runc\/.*$, ^roles\/runc\/.*$
  ansible-collection-commons-molecule-services: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/services\/.*$, ^roles\/services\/.*$
  ansible-collection-commons-molecule-sosreport: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/sosreport\/.*$, ^roles\/sosreport\/.*$
  ansible-collection-commons-molecule-sshconfig: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/sshconfig\/.*$, ^roles\/sshconfig\/.*$
  ansible-collection-commons-molecule-state: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/state\/.*$, ^roles\/state\/.*$
  ansible-collection-commons-molecule-sysctl: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/sysctl\/.*$, ^roles\/sysctl\/.*$
  ansible-collection-commons-molecule-systohc: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/systohc\/.*$, ^roles\/systohc\/.*$
  ansible-collection-commons-molecule-timezone: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/timezone\/.*$, ^roles\/timezone\/.*$
  ansible-collection-commons-molecule-trivy: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/trivy\/.*$, ^roles\/trivy\/.*$

Testing Python code formatter Black
  .zuul.yaml
  playbooks/black-python-formatter/run.yml
  roles/black_python_formatter/defaults/main.yml
  roles/black_python_formatter/tasks/main.yml
Due: none

Implement Black formatted changes of unit tests
  molecule/delegated/tests/cleanup/packages.py
  molecule/delegated/tests/cleanup/services.py
  molecule/delegated/tests/configuration/git.py
  molecule/delegated/tests/configuration/main.py
  molecule/delegated/tests/facts.py
  molecule/delegated/tests/firewall.py
  molecule/delegated/tests/hostname.py
  molecule/delegated/tests/hosts/type-block.py
  molecule/delegated/tests/hosts/type-template.py
  molecule/delegated/tests/ipmitool.py
  molecule/delegated/tests/kernel_modules.py
  molecule/delegated/tests/kubectl.py
  molecule/delegated/tests/lynis.py
  molecule/delegated/tests/microcode.py
  molecule/delegated/tests/motd/main.py
  molecule/delegated/tests/operator.py
  molecule/delegated/tests/packages/debian.py
  molecule/delegated/tests/packages/main.py
  molecule/delegated/tests/packages/redhat.py
  molecule/delegated/tests/proxy/debian.py
  molecule/delegated/tests/proxy/main.py
  molecule/delegated/tests/proxy/redhat.py
  molecule/delegated/tests/repository/debian.py
  molecule/delegated/tests/resolvconf.py
  molecule/delegated/tests/services.py
  molecule/delegated/tests/sshconfig.py
  molecule/delegated/tests/systohc.py
  molecule/delegated/tests/timezone.py
  molecule/delegated/tests/trivy/debian.py
  molecule/delegated/tests/util/util.py
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy

Testing modified role black_python_formatter
  roles/black_python_formatter/tasks/main.yml
Due: none

Add Zuul job python-black
  .zuul.yaml
  molecule/delegated/tests/docker_compose.py
  playbooks/black-python-formatter/run.yml
  roles/black_python_formatter/defaults/main.yml
  roles/black_python_formatter/tasks/main.yml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy

Add Zuul job python-black and format Python files
  .zuul.yaml
  molecule/delegated/tests/cleanup/packages.py
  molecule/delegated/tests/cleanup/services.py
  molecule/delegated/tests/configuration/git.py
  molecule/delegated/tests/configuration/main.py
  molecule/delegated/tests/docker_compose.py
  molecule/delegated/tests/facts.py
  molecule/delegated/tests/firewall.py
  molecule/delegated/tests/hostname.py
  molecule/delegated/tests/hosts/type-block.py
  molecule/delegated/tests/hosts/type-template.py
  molecule/delegated/tests/ipmitool.py
  molecule/delegated/tests/kernel_modules.py
  molecule/delegated/tests/kubectl.py
  molecule/delegated/tests/lynis.py
  molecule/delegated/tests/microcode.py
  molecule/delegated/tests/motd/main.py
  molecule/delegated/tests/operator.py
  molecule/delegated/tests/packages/debian.py
  molecule/delegated/tests/packages/main.py
  molecule/delegated/tests/packages/redhat.py
  molecule/delegated/tests/proxy/debian.py
  molecule/delegated/tests/proxy/main.py
  molecule/delegated/tests/proxy/redhat.py
  molecule/delegated/tests/repository/debian.py
  molecule/delegated/tests/resolvconf.py
  molecule/delegated/tests/services.py
  molecule/delegated/tests/sshconfig.py
  molecule/delegated/tests/systohc.py
  molecule/delegated/tests/timezone.py
  molecule/delegated/tests/trivy/debian.py
  molecule/delegated/tests/util/util.py
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy

operator: add operator_authorized_keys_minimal
  releasenotes/notes/operator_authorized_keys_minimal-6379a5c583625bef.yaml
  roles/operator/defaults/main.yml
  roles/operator/tasks/main.yml
Due: ansible-collection-commons-molecule-operator

operator: add operator_authorized_keys_minimal (#554)
  releasenotes/notes/operator_authorized_keys_minimal-6379a5c583625bef.yaml
  roles/operator/defaults/main.yml
  roles/operator/tasks/main.yml
Due: ansible-collection-commons-molecule-operator

Migrate sysctl docs (#553)
  roles/sysctl/README.md
  roles/sysctl/README.rst
Due: ansible-collection-commons-molecule-sysctl

Test
  roles/certificates/tasks/install-Debian.yml
  roles/certificates/tasks/main.yml
  roles/configfs/tasks/main.yml
  roles/hosts/tasks/main.yml
  roles/hosts/tasks/type-block.yml
  roles/hosts/tasks/type-local.yml
  roles/hosts/tasks/type-template.yml
  roles/motd/tasks/configure-Debian.yml
  roles/motd/tasks/main.yml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-motd

Allow use of ansible-core 2.16
  meta/runtime.yml
Due: none

Allow use of ansible-core 2.16 (#559)
  meta/runtime.yml
Due: none

network: reduce permission on /etc/netplan/01-osism.yaml
  releasenotes/notes/netplan-permissions-13170182ceae251f.yaml
  roles/network/tasks/type-netplan.yml
Due: none

Add still_alive callback plugin
  plugins/callback/still_alive.py
  releasenotes/notes/still-alive-callback-plugin-7dd0a0eca15fc4ce.yaml
Due: none

Add still_alive callback plugin (#565)
  plugins/callback/still_alive.py
  releasenotes/notes/still-alive-callback-plugin-7dd0a0eca15fc4ce.yaml
Due: none

zuul: cleanup files (pt. 1)
  .zuul.yaml
Due: none

still_alive: add v2_playbook_on_handler_task_start
  plugins/callback/still_alive.py
Due: none

still_alive: add v2_playbook_on_handler_task_start (#567)
  plugins/callback/still_alive.py
Due: none

known_hosts: fix magic groups variable
  roles/known_hosts/defaults/main.yml
Due: none

known_hosts: fix magic groups variable (#568)
  roles/known_hosts/defaults/main.yml
Due: none

Re-add clevis role
  roles/clevis/README.md
  roles/clevis/README.rst
  roles/clevis/defaults/main.yml
  roles/clevis/handlers/main.yml
  roles/clevis/meta/main.yml
  roles/clevis/tasks/create-tangcrypt.yml
  roles/clevis/tasks/install-Debian.yml
  roles/clevis/tasks/install-RedHat.yml
  roles/clevis/tasks/main.yml
  roles/clevis/templates/keyfile.j2
  roles/clevis/vars/Debian.yml
  roles/clevis/vars/RedHat.yml
Due: none

Re-add clevis role (#569)
  roles/clevis/README.md
  roles/clevis/README.rst
  roles/clevis/defaults/main.yml
  roles/clevis/handlers/main.yml
  roles/clevis/meta/main.yml
  roles/clevis/tasks/create-tangcrypt.yml
  roles/clevis/tasks/install-Debian.yml
  roles/clevis/tasks/install-RedHat.yml
  roles/clevis/tasks/main.yml
  roles/clevis/templates/keyfile.j2
  roles/clevis/vars/Debian.yml
  roles/clevis/vars/RedHat.yml
Due: none

Remove unused vault roles
  .ansible-lint
  .zuul.yaml
  README.md
  molecule/delegated/collections.yml
  molecule/delegated/prepare/vault_import.yml
  molecule/delegated/prepare/vault_init.yml
  molecule/delegated/prepare/vault_seal.yml
  molecule/delegated/prepare/vault_setup.yml
  molecule/delegated/prepare/vault_unseal.yml
  molecule/delegated/vars/vault_import.yml
  molecule/delegated/vars/vault_init.yml
  molecule/delegated/vars/vault_seal.yml
  molecule/delegated/vars/vault_setup.yml
  molecule/delegated/vars/vault_unseal.yml
  roles/vault_import/README.md
  roles/vault_import/README.rst
  roles/vault_import/defaults/main.yml
  roles/vault_import/meta/main.yml
  roles/vault_import/tasks/main.yml
  roles/vault_init/README.md
  roles/vault_init/README.rst
  roles/vault_init/defaults/main.yml
  roles/vault_init/meta/main.yml
  roles/vault_init/tasks/main.yml
  roles/vault_seal/README.md
  roles/vault_seal/README.rst
  roles/vault_seal/defaults/main.yml
  roles/vault_seal/meta/main.yml
  roles/vault_seal/tasks/main.yml
  roles/vault_unseal/README.md
  roles/vault_unseal/README.rst
  roles/vault_unseal/defaults/main.yml
  roles/vault_unseal/meta/main.yml
  roles/vault_unseal/tasks/main.yml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy

Remove unused vault roles (#571)
  .ansible-lint
  .zuul.yaml
  README.md
  molecule/delegated/collections.yml
  molecule/delegated/prepare/vault_import.yml
  molecule/delegated/prepare/vault_init.yml
  molecule/delegated/prepare/vault_seal.yml
  molecule/delegated/prepare/vault_setup.yml
  molecule/delegated/prepare/vault_unseal.yml
  molecule/delegated/vars/vault_import.yml
  molecule/delegated/vars/vault_init.yml
  molecule/delegated/vars/vault_seal.yml
  molecule/delegated/vars/vault_setup.yml
  molecule/delegated/vars/vault_unseal.yml
  roles/vault_import/README.md
  roles/vault_import/README.rst
  roles/vault_import/defaults/main.yml
  roles/vault_import/meta/main.yml
  roles/vault_import/tasks/main.yml
  roles/vault_init/README.md
  roles/vault_init/README.rst
  roles/vault_init/defaults/main.yml
  roles/vault_init/meta/main.yml
  roles/vault_init/tasks/main.yml
  roles/vault_seal/README.md
  roles/vault_seal/README.rst
  roles/vault_seal/defaults/main.yml
  roles/vault_seal/meta/main.yml
  roles/vault_seal/tasks/main.yml
  roles/vault_unseal/README.md
  roles/vault_unseal/README.rst
  roles/vault_unseal/defaults/main.yml
  roles/vault_unseal/meta/main.yml
  roles/vault_unseal/tasks/main.yml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy

Add autodetection of CPU architecture for kubectl, lynis and trivy
  molecule/delegated/tests/kubectl.py
  molecule/delegated/tests/lynis.py
  molecule/delegated/tests/trivy/debian.py
  molecule/delegated/tests/util/util.py
  roles/kubectl/defaults/main.yml
  roles/lynis/defaults/main.yml
  roles/trivy/defaults/main.yml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy

Add autodetection of CPU architecture for kompose role
  molecule/delegated/tests/kompose.py
  roles/kompose/defaults/main.yml
  roles/kompose/tasks/install-url.yml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy

Final testing
  roles/kubectl/defaults/main.yml
  roles/lynis/defaults/main.yml
  roles/trivy/defaults/main.yml
Due: ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-trivy

repository: use loop_control
  roles/repository/tasks/repository-Debian.yml
Due: ansible-collection-commons-molecule-repository

repository: use loop_control (#573)
  roles/repository/tasks/repository-Debian.yml
Due: ansible-collection-commons-molecule-repository

Replace apt repository definition for kubectl role
  molecule/delegated/tests/kubectl.py
  roles/kubectl/defaults/main.yml
  roles/kubectl/tasks/install-Debian.yml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy

Add dynamic arch resolution (#570)
  molecule/delegated/tests/kompose.py
  molecule/delegated/tests/kubectl.py
  molecule/delegated/tests/lynis.py
  molecule/delegated/tests/trivy/debian.py
  molecule/delegated/tests/util/util.py
  roles/kompose/defaults/main.yml
  roles/kompose/tasks/install-url.yml
  roles/kubectl/defaults/main.yml
  roles/kubectl/tasks/install-Debian.yml
  roles/lynis/defaults/main.yml
  roles/trivy/defaults/main.yml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy

Add user role
  roles/user/README.rst
  roles/user/defaults/main.yml
  roles/user/meta/main.yml
  roles/user/tasks/accounts.yml
  roles/user/tasks/fetch_ssh_key.yml
  roles/user/tasks/keyfile.yml
  roles/user/tasks/main.yml
  roles/user/templates/config.j2
Due: none

Check target dir exists before writing to it
  roles/network/tasks/type-netplan.yml
Due: none

Add dependency for ansible.posix.synchronize
  roles/packages/defaults/main.yml
Due: ansible-collection-commons-molecule-packages

network: check target dir exists before writing to it (#576)
  roles/network/tasks/type-netplan.yml
Due: none

Add user role (#532)
  roles/user/README.rst
  roles/user/defaults/main.yml
  roles/user/meta/main.yml
  roles/user/tasks/accounts.yml
  roles/user/tasks/fetch_ssh_key.yml
  roles/user/tasks/keyfile.yml
  roles/user/tasks/main.yml
  roles/user/templates/config.j2
Due: none
