Repository osism/ansible-collection-commons: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

Path conditions:
  ansible-collection-commons-molecule-certificates: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/certificates\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/certificates.*$
  ansible-collection-commons-molecule-cleanup: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/cleanup\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/cleanup.*$
  ansible-collection-commons-molecule-configfs: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/configfs\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/configfs.*$
  ansible-collection-commons-molecule-configuration: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/configuration\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/configuration.*$
  ansible-collection-commons-molecule-docker_compose: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/docker_compose\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/docker_compose.*$
  ansible-collection-commons-molecule-docker_login: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/docker_login\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/docker_login.*$
  ansible-collection-commons-molecule-facts: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/facts\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/facts.*$
  ansible-collection-commons-molecule-firewall: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/firewall\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/firewall.*$
  ansible-collection-commons-molecule-hostname: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/hostname\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/hostname.*$
  ansible-collection-commons-molecule-hosts: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/hosts\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/hosts.*$
  ansible-collection-commons-molecule-ipmitool: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/ipimtool\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/ipmitool.*$
  ansible-collection-commons-molecule-kernel_modules: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/kernel_modules\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/kernel_modules.*$
  ansible-collection-commons-molecule-known_hosts: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/known_hosts\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/known_hosts.*$
  ansible-collection-commons-molecule-kompose: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/kompose\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/kompose.*$
  ansible-collection-commons-molecule-kubectl: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/kubectl\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/kubectl.*$
  ansible-collection-commons-molecule-limits: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/limits\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/limits.*$
  ansible-collection-commons-molecule-lynis: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/lynis\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/lynis.*$
  ansible-collection-commons-molecule-microcode: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/microcode\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/microcode.*$
  ansible-collection-commons-molecule-motd: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/motd\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/motd.*$
  ansible-collection-commons-molecule-network: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/network\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/network.*$
  ansible-collection-commons-molecule-operator: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/operator\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/operator.*$
  ansible-collection-commons-molecule-packages: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/packages\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/packages.*$
  ansible-collection-commons-molecule-podman: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/podman\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/podman.*$
  ansible-collection-commons-molecule-proxy: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/proxy\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/proxy.*$
  ansible-collection-commons-molecule-repository: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/repository\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/repository.*$
  ansible-collection-commons-molecule-resolvconf: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/resolvconf\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/resolvconf.*$
  ansible-collection-commons-molecule-runc: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/runc\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/runc.*$
  ansible-collection-commons-molecule-services: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/services\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/services.*$
  ansible-collection-commons-molecule-sosreport: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/sosreport\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/sosreport.*$
  ansible-collection-commons-molecule-sshconfig: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/sshconfig\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/sshconfig.*$
  ansible-collection-commons-molecule-state: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/state\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/state.*$
  ansible-collection-commons-molecule-sysctl: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/sysctl\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/sysctl.*$
  ansible-collection-commons-molecule-systohc: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/systohc\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/systohc.*$
  ansible-collection-commons-molecule-timezone: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/timezone\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/timezone.*$
  ansible-collection-commons-molecule-trivy: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/trivy\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/trivy.*$
  ansible-collection-commons-molecule-user: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/user\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/user.*$

packages: only update the package cache on CentOS (#703)
  roles/packages/tasks/package-RedHat-family.yml
Due: ansible-collection-commons-molecule-packages

hostname: update facts when there is a change
  roles/hostname/handlers/main.yml
  roles/hostname/tasks/main.yml
Due: ansible-collection-commons-molecule-hostname

hostname: update facts when there is a change (#705)
  roles/hostname/handlers/main.yml
  roles/hostname/tasks/main.yml
Due: ansible-collection-commons-molecule-hostname

certificates: use CentOS instead of RHEL in task name
  roles/certificates/tasks/install-RedHat-family.yml
Due: ansible-collection-commons-molecule-certificates

certificates: use CentOS instead of RHEL in task name (#706)
  roles/certificates/tasks/install-RedHat-family.yml
Due: ansible-collection-commons-molecule-certificates

packages: install git by default
  roles/packages/defaults/main.yml
Due: ansible-collection-commons-molecule-packages

packages: install git by default (#707)
  roles/packages/defaults/main.yml
Due: ansible-collection-commons-molecule-packages

packages: ensure that bash-completion is installed
  roles/packages/defaults/main.yml
Due: ansible-collection-commons-molecule-packages

packages: ensure that bash-completion is installed (#709)
  roles/packages/defaults/main.yml
Due: ansible-collection-commons-molecule-packages

Manage the k9s version with renovate
  .github/renovate.json
  roles/k9s/defaults/main.yml
Due: none

Manage the k9s version with renovate (#710)
  .github/renovate.json
  roles/k9s/defaults/main.yml
Due: none

Modify Clevis role and add tests
  .zuul.yaml
  molecule/delegated/prepare/clevis.yml
  molecule/delegated/tests/clevis/__init__.py
  molecule/delegated/tests/clevis/debian.py
  molecule/delegated/tests/clevis/main.py
  molecule/delegated/vars/clevis.yml
  molecule/delegated/verify/clevis.yml
  roles/clevis/defaults/main.yml
  roles/clevis/handlers/main.yml
  roles/clevis/tasks/create-tangcrypt.yml
  roles/clevis/tasks/main.yml
  roles/clevis/templates/keyfile.j2
  roles/clevis/vars/Debian-family.yml
  roles/clevis/vars/RedHat-family.yml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

Enhance CI tests for the Podman role
  molecule/delegated/tests/podman/debian.py
  molecule/delegated/tests/podman/main.py
  molecule/delegated/tests/podman/redhat.py
Due: ansible-collection-commons-molecule-podman

Enhance CI tests for the Podman role (#714)
  molecule/delegated/tests/podman/debian.py
  molecule/delegated/tests/podman/main.py
  molecule/delegated/tests/podman/redhat.py
Due: ansible-collection-commons-molecule-podman

molecule: do not force installation of ansible requirements
  molecule/delegated/collections.yml
  molecule/delegated/molecule.yml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

molecule: do not force installation of ansible requirements (#716)
  molecule/delegated/collections.yml
  molecule/delegated/molecule.yml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

clevis: fix role & add tests (#708)
  .zuul.yaml
  molecule/delegated/prepare/clevis.yml
  molecule/delegated/tests/clevis/__init__.py
  molecule/delegated/tests/clevis/debian.py
  molecule/delegated/tests/clevis/main.py
  molecule/delegated/vars/clevis.yml
  molecule/delegated/verify/clevis.yml
  roles/clevis/defaults/main.yml
  roles/clevis/handlers/main.yml
  roles/clevis/tasks/create-tangcrypt.yml
  roles/clevis/tasks/main.yml
  roles/clevis/templates/keyfile.j2
  roles/clevis/vars/Debian-family.yml
  roles/clevis/vars/RedHat-family.yml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

Enhance CI tests for the resolvconf role
  molecule/delegated/tests/resolvconf.py
Due: ansible-collection-commons-molecule-resolvconf

Enhance CI tests for the resolvconf role (#717)
  molecule/delegated/tests/resolvconf.py
Due: ansible-collection-commons-molecule-resolvconf

docker-compose: Enhance CI tests
  molecule/delegated/prepare/docker_compose.yml
  molecule/delegated/tests/docker_compose.py
Due: ansible-collection-commons-molecule-docker_compose

docker-compose: enhance CI tests (#718)
  molecule/delegated/prepare/docker_compose.yml
  molecule/delegated/tests/docker_compose.py
Due: ansible-collection-commons-molecule-docker_compose

renovate: fix k9s
  roles/k9s/defaults/main.yml
Due: none

renovate: fix k9s (#719)
  roles/k9s/defaults/main.yml
Due: none

k9s: Enhance CI tests
  molecule/delegated/tests/k9s.py
Due: none

kubectl: Enhance CI tests
  molecule/delegated/tests/kubectl/main.py
Due: ansible-collection-commons-molecule-kubectl

lynis: Enhance CI tests
  molecule/delegated/tests/lynis/main.py
Due: ansible-collection-commons-molecule-lynis

k9s: enhance CI tests (#721)
  molecule/delegated/tests/k9s.py
Due: none

kubectl: enhance CI tests (#722)
  molecule/delegated/tests/kubectl/main.py
Due: ansible-collection-commons-molecule-kubectl

lynis: enhance CI tests (#723)
  molecule/delegated/tests/lynis/main.py
Due: ansible-collection-commons-molecule-lynis

trivy: Enable support on Ubuntu 24.04
  molecule/delegated/tests/trivy/debian.py
  roles/trivy/tasks/install-Debian-family.yml
Due: ansible-collection-commons-molecule-trivy

trivy: Enhance CI tests
  molecule/delegated/tests/trivy/main.py
Due: ansible-collection-commons-molecule-trivy

trivy: enhance CI tests (#724)
  molecule/delegated/tests/trivy/debian.py
  molecule/delegated/tests/trivy/main.py
  roles/trivy/tasks/install-Debian-family.yml
Due: ansible-collection-commons-molecule-trivy

packages: add some cleanup tassk from the cleanup role
  roles/packages/defaults/main.yml
  roles/packages/tasks/package-Debian-family.yml
  roles/packages/tasks/package-RedHat-family.yml
Due: ansible-collection-commons-molecule-packages

packages: add some cleanup tasks from the cleanup role (#725)
  roles/packages/defaults/main.yml
  roles/packages/tasks/package-Debian-family.yml
  roles/packages/tasks/package-RedHat-family.yml
Due: ansible-collection-commons-molecule-packages

proxy: add proxy_enable parameter
  roles/proxy/defaults/main.yml
  roles/proxy/tasks/main.yml
Due: ansible-collection-commons-molecule-proxy

proxy: add proxy_enable parameter (#726)
  roles/proxy/defaults/main.yml
  roles/proxy/tasks/main.yml
Due: ansible-collection-commons-molecule-proxy

repository: make role usable for Ubuntu 24.04 @ ARM
  molecule/delegated/tests/repository/centos.py
  molecule/delegated/tests/repository/debian.py
  molecule/delegated/tests/util/util.py
  roles/repository/tasks/AlmaLinux.yml
  roles/repository/tasks/CentOS.yml
  roles/repository/tasks/Debian.yml
  roles/repository/tasks/RedHat.yml
  roles/repository/tasks/Rocky.yml
  roles/repository/tasks/Ubuntu.yml
  roles/repository/tasks/main.yml
  roles/repository/templates/ubuntu.sources.j2
  roles/repository/vars/AlmaLinux-amd64.yml
  roles/repository/vars/CentOS-x86_64.yml
  roles/repository/vars/Debian-x86_64.yml
  roles/repository/vars/Rocky-x86_64.yml
  roles/repository/vars/Ubuntu-aarch64.yml
  roles/repository/vars/Ubuntu-dist.yml
  roles/repository/vars/Ubuntu-x86_64.yml
Due: ansible-collection-commons-molecule-repository

repository: make role usable for Ubuntu 24.04 @ ARM (#727)
  molecule/delegated/tests/repository/centos.py
  molecule/delegated/tests/repository/debian.py
  molecule/delegated/tests/util/util.py
  roles/repository/tasks/AlmaLinux.yml
  roles/repository/tasks/CentOS.yml
  roles/repository/tasks/Debian.yml
  roles/repository/tasks/RedHat.yml
  roles/repository/tasks/Rocky.yml
  roles/repository/tasks/Ubuntu.yml
  roles/repository/tasks/main.yml
  roles/repository/templates/ubuntu.sources.j2
  roles/repository/vars/AlmaLinux-amd64.yml
  roles/repository/vars/CentOS-x86_64.yml
  roles/repository/vars/Debian-x86_64.yml
  roles/repository/vars/Rocky-x86_64.yml
  roles/repository/vars/Ubuntu-aarch64.yml
  roles/repository/vars/Ubuntu-dist.yml
  roles/repository/vars/Ubuntu-x86_64.yml
Due: ansible-collection-commons-molecule-repository

Enhance CI tests for the sshconfig role
  molecule/delegated/prepare/sshconfig.yml
  molecule/delegated/tests/sshconfig.py
  molecule/delegated/vars/sshconfig.yml
Due: ansible-collection-commons-molecule-sshconfig

sshconfig: enhance CI tests (#715)
  molecule/delegated/prepare/sshconfig.yml
  molecule/delegated/tests/sshconfig.py
  molecule/delegated/vars/sshconfig.yml
Due: ansible-collection-commons-molecule-sshconfig
