Repository osism/ansible-collection-commons: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

ansible-collection-commons-molecule-certificates:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: certificates

ansible-collection-commons-molecule-cleanup:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: cleanup

ansible-collection-commons-molecule-configfs:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: configfs

ansible-collection-commons-molecule-configuration:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: configuration

ansible-collection-commons-molecule-docker_compose:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: docker_compose

ansible-collection-commons-molecule-docker_login:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: docker_login

ansible-collection-commons-molecule-facts:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: facts

ansible-collection-commons-molecule-firewall:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: firewall

ansible-collection-commons-molecule-hostname:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: hostname

ansible-collection-commons-molecule-hosts:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: hosts

ansible-collection-commons-molecule-ipmitool:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: ipmitool

ansible-collection-commons-molecule-kernel_modules:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: kernel_modules

ansible-collection-commons-molecule-known_hosts:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: known_hosts

ansible-collection-commons-molecule-kompose:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: kompose

ansible-collection-commons-molecule-kubectl:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: kubectl

ansible-collection-commons-molecule-limits:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: limits

ansible-collection-commons-molecule-lynis:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: lynis

ansible-collection-commons-molecule-microcode:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: microcode

ansible-collection-commons-molecule-motd:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: motd

ansible-collection-commons-molecule-network:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: network

ansible-collection-commons-molecule-operator:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: operator

ansible-collection-commons-molecule-packages:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: packages

kubectl: install python3-kubernetes on Debian-based distros (#656)
  roles/kubectl/vars/Debian-family.yml
  roles/kubectl/vars/RedHat-family.yml
Due: ansible-collection-commons-molecule-kubectl

Show motd on ssh login
  roles/motd/handlers/main.yml
  roles/motd/tasks/configure-Debian-family.yml
Due: ansible-collection-commons-molecule-motd

Make in confgigurable
  roles/motd/defaults/main.yml
  roles/motd/tasks/configure-Debian-family.yml
Due: ansible-collection-commons-molecule-motd

improve checking for booleans
  roles/motd/tasks/configure-Debian-family.yml
Due: ansible-collection-commons-molecule-motd

fix
  roles/motd/handlers/main.yml
  roles/motd/tasks/configure-Debian-family.yml
Due: ansible-collection-commons-molecule-motd

fix
  roles/motd/tasks/configure-Debian-family.yml
Due: ansible-collection-commons-molecule-motd

add quoted permissions
  roles/motd/tasks/configure-Debian-family.yml
Due: ansible-collection-commons-molecule-motd

renamed
  roles/motd/handlers/main.yml
  roles/motd/tasks/configure-Debian-family.yml
Due: ansible-collection-commons-molecule-motd

remove quotes for consistency
  roles/motd/tasks/configure-Debian-family.yml
Due: ansible-collection-commons-molecule-motd

Fix
  roles/motd/handlers/main.yml
  roles/motd/tasks/configure-Debian-family.yml
  roles/motd/tasks/main.yml
Due: ansible-collection-commons-molecule-motd

motd: allow to set PrintMotd in the sshd_config (#657)
  roles/motd/defaults/main.yml
  roles/motd/handlers/main.yml
  roles/motd/tasks/main.yml
Due: ansible-collection-commons-molecule-motd

Add k9s role
  .zuul.yaml
  molecule/delegated/prepare/k9s.yml
  molecule/delegated/tests/k9s.py
  molecule/delegated/vars/k9s.yml
  molecule/delegated/verify/k9s.yml
  roles/k9s/README.md
  roles/k9s/defaults/main.yml
  roles/k9s/meta/main.yml
  roles/k9s/tasks/install-Debian-family.yml
  roles/k9s/tasks/install-RedHat-family.yml
  roles/k9s/tasks/main.yml
  roles/k9s/vars/Debian-family.yml
  roles/k9s/vars/RedHat-family.yml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

Add k9s role (#658)
  .zuul.yaml
  molecule/delegated/prepare/k9s.yml
  molecule/delegated/tests/k9s.py
  molecule/delegated/vars/k9s.yml
  molecule/delegated/verify/k9s.yml
  roles/k9s/README.md
  roles/k9s/defaults/main.yml
  roles/k9s/meta/main.yml
  roles/k9s/tasks/install-Debian-family.yml
  roles/k9s/tasks/install-RedHat-family.yml
  roles/k9s/tasks/main.yml
  roles/k9s/vars/Debian-family.yml
  roles/k9s/vars/RedHat-family.yml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

repository: add EPEL by default
  molecule/delegated/prepare/network.yml
  roles/network/tasks/interfaces-RedHat-family.yml
  roles/network/tasks/netplan-RedHat-family.yml
  roles/repository/tasks/main.yml
  roles/repository/tasks/repository-RedHat-family.yml
Due: ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-repository

repository: add EPEL by default (#659)
  molecule/delegated/prepare/network.yml
  roles/network/tasks/interfaces-RedHat-family.yml
  roles/network/tasks/netplan-RedHat-family.yml
  roles/repository/tasks/main.yml
  roles/repository/tasks/repository-RedHat-family.yml
Due: ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-repository

Rename lock_out to dnf_lock_out
  molecule/delegated/prepare/network.yml
  roles/certificates/tasks/install-RedHat-family.yml
  roles/configuration/tasks/git.yml
  roles/docker_compose/tasks/install-RedHat-family.yml
  roles/docker_login/tasks/main.yml
  roles/ipmitool/tasks/install-RedHat-family.yml
  roles/kubectl/tasks/install-RedHat-family.yml
  roles/microcode/tasks/main.yml
  roles/network/tasks/interfaces-RedHat-family.yml
  roles/network/tasks/netplan-RedHat-family.yml
  roles/podman/tasks/install-RedHat-family.yml
  roles/runc/tasks/install-RedHat-family.yml
  roles/timezone/tasks/main.yml
  roles/trivy/tasks/install-RedHat-family.yml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy

Rename lock_out to dnf_lock_out (#660)
  molecule/delegated/prepare/network.yml
  roles/certificates/tasks/install-RedHat-family.yml
  roles/configuration/tasks/git.yml
  roles/docker_compose/tasks/install-RedHat-family.yml
  roles/docker_login/tasks/main.yml
  roles/ipmitool/tasks/install-RedHat-family.yml
  roles/kubectl/tasks/install-RedHat-family.yml
  roles/microcode/tasks/main.yml
  roles/network/tasks/interfaces-RedHat-family.yml
  roles/network/tasks/netplan-RedHat-family.yml
  roles/podman/tasks/install-RedHat-family.yml
  roles/runc/tasks/install-RedHat-family.yml
  roles/timezone/tasks/main.yml
  roles/trivy/tasks/install-RedHat-family.yml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy

molecule: use osism.commons.repository to add EPEL repo
  molecule/delegated/prepare/network.yml
Due: ansible-collection-commons-molecule-network

molecule: use osism.commons.repository to add EPEL repo (#661)
  molecule/delegated/prepare/network.yml
Due: ansible-collection-commons-molecule-network

molecule: fix & improve repository tests
  molecule/delegated/tests/repository/centos.py
  molecule/delegated/tests/repository/debian.py
  roles/repository/tasks/repository-RedHat-family.yml
  roles/repository/vars/CentOS-dist.yml
Due: ansible-collection-commons-molecule-repository

molecule: fix & improve repository tests (#662)
  molecule/delegated/tests/repository/centos.py
  molecule/delegated/tests/repository/debian.py
  roles/repository/tasks/repository-RedHat-family.yml
  roles/repository/vars/CentOS-dist.yml
Due: ansible-collection-commons-molecule-repository

repository: fix role
  molecule/delegated/tests/repository/centos.py
  roles/repository/tasks/repository-RedHat-family.yml
  roles/repository/vars/AlmaLinux-dist.yml
  roles/repository/vars/CentOS-dist.yml
  roles/repository/vars/Rocky-dist.yml
Due: ansible-collection-commons-molecule-repository

repository: fix role (#663)
  molecule/delegated/tests/repository/centos.py
  roles/repository/tasks/repository-RedHat-family.yml
  roles/repository/vars/AlmaLinux-dist.yml
  roles/repository/vars/CentOS-dist.yml
  roles/repository/vars/Rocky-dist.yml
Due: ansible-collection-commons-molecule-repository

Uncomment packages role in .zuul.yml to test testbed on CentOS
  .zuul.yaml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

Move task to set apt_cache_valid_time
  .zuul.yaml
  roles/packages/tasks/main.yml
  roles/packages/tasks/package-Debian-family.yml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

Remove kompose role
  .zuul.yaml
  molecule/delegated/prepare/kompose.yml
  molecule/delegated/tests/kompose/__init__.py
  molecule/delegated/tests/kompose/debian.py
  molecule/delegated/tests/kompose/main.py
  molecule/delegated/tests/kompose/redhat.py
  molecule/delegated/vars/kompose.yml
  molecule/delegated/verify/kompose.yml
  roles/kompose/README.md
  roles/kompose/README.rst
  roles/kompose/defaults/main.yml
  roles/kompose/meta/main.yml
  roles/kompose/tasks/install-Debian-family.yml
  roles/kompose/tasks/install-RedHat-family.yml
  roles/kompose/tasks/install-url.yml
  roles/kompose/tasks/main.yml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

Remove kompose role (#669)
  .zuul.yaml
  molecule/delegated/prepare/kompose.yml
  molecule/delegated/tests/kompose/__init__.py
  molecule/delegated/tests/kompose/debian.py
  molecule/delegated/tests/kompose/main.py
  molecule/delegated/tests/kompose/redhat.py
  molecule/delegated/vars/kompose.yml
  molecule/delegated/verify/kompose.yml
  roles/kompose/README.md
  roles/kompose/README.rst
  roles/kompose/defaults/main.yml
  roles/kompose/meta/main.yml
  roles/kompose/tasks/install-Debian-family.yml
  roles/kompose/tasks/install-RedHat-family.yml
  roles/kompose/tasks/install-url.yml
  roles/kompose/tasks/main.yml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

packages: move "Set apt_cache_valid_time variable to default value"
  roles/packages/tasks/main.yml
  roles/packages/tasks/package-Debian-family.yml
Due: ansible-collection-commons-molecule-packages

packages: move "Set apt_cache_valid_time variable to default value" (#670)
  roles/packages/tasks/main.yml
  roles/packages/tasks/package-Debian-family.yml
Due: ansible-collection-commons-molecule-packages

add facility to set root password
  roles/operator/README.rst
  roles/operator/defaults/main.yml
  roles/operator/tasks/main.yml
Due: ansible-collection-commons-molecule-operator

lining
  roles/operator/defaults/main.yml
  roles/operator/tasks/main.yml
Due: ansible-collection-commons-molecule-operator

user: allow to set passwords
  roles/user/defaults/main.yml
  roles/user/tasks/type-default.yml
Due: ansible-collection-commons-molecule-user

user: allow to set passwords (#672)
  roles/user/defaults/main.yml
  roles/user/tasks/type-default.yml
Due: ansible-collection-commons-molecule-user

molecule: do not set ansible_python_interpreter
  molecule/delegated/molecule.yml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

molecule: do not set ansible_python_interpreter (#674)
  molecule/delegated/molecule.yml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

meta: support Ansible version 2.17
  meta/runtime.yml
Due: none

meta: support Ansible version 2.17 (#675)
  meta/runtime.yml
Due: none

define constraints fpr the maximimum number of nameservers
  roles/resolvconf/defaults/main.yml
  roles/resolvconf/tasks/main.yml
Due: ansible-collection-commons-molecule-resolvconf

improve message
  roles/resolvconf/tasks/main.yml
Due: ansible-collection-commons-molecule-resolvconf

Path conditions:
  ansible-collection-commons-molecule-certificates: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/certificates\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/certificates.*$
  ansible-collection-commons-molecule-cleanup: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/cleanup\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/cleanup.*$
  ansible-collection-commons-molecule-configfs: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/configfs\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/configfs.*$
  ansible-collection-commons-molecule-configuration: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/configuration\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/configuration.*$
  ansible-collection-commons-molecule-docker_compose: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/docker_compose\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/docker_compose.*$
  ansible-collection-commons-molecule-docker_login: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/docker_login\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/docker_login.*$
  ansible-collection-commons-molecule-facts: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/facts\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/facts.*$
  ansible-collection-commons-molecule-firewall: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/firewall\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/firewall.*$
  ansible-collection-commons-molecule-hostname: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/hostname\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/hostname.*$
  ansible-collection-commons-molecule-hosts: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/hosts\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/hosts.*$
  ansible-collection-commons-molecule-ipmitool: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/ipimtool\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/ipmitool.*$
  ansible-collection-commons-molecule-kernel_modules: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/kernel_modules\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/kernel_modules.*$
  ansible-collection-commons-molecule-known_hosts: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/known_hosts\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/known_hosts.*$
  ansible-collection-commons-molecule-kompose: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/kompose\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/kompose.*$
  ansible-collection-commons-molecule-kubectl: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/kubectl\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/kubectl.*$
  ansible-collection-commons-molecule-limits: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/limits\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/limits.*$
  ansible-collection-commons-molecule-lynis: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/lynis\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/lynis.*$
  ansible-collection-commons-molecule-microcode: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/microcode\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/microcode.*$
  ansible-collection-commons-molecule-motd: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/motd\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/motd.*$
  ansible-collection-commons-molecule-network: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/network\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/network.*$
  ansible-collection-commons-molecule-operator: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/operator\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/operator.*$
  ansible-collection-commons-molecule-packages: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/packages\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/packages.*$
  ansible-collection-commons-molecule-podman: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/podman\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/podman.*$
  ansible-collection-commons-molecule-proxy: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/proxy\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/proxy.*$
  ansible-collection-commons-molecule-repository: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/repository\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/repository.*$
  ansible-collection-commons-molecule-resolvconf: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/resolvconf\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/resolvconf.*$
  ansible-collection-commons-molecule-runc: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/runc\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/runc.*$
  ansible-collection-commons-molecule-services: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/services\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/services.*$
  ansible-collection-commons-molecule-sosreport: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/sosreport\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/sosreport.*$
  ansible-collection-commons-molecule-sshconfig: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/sshconfig\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/sshconfig.*$
  ansible-collection-commons-molecule-state: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/state\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/state.*$
  ansible-collection-commons-molecule-sysctl: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/sysctl\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/sysctl.*$
  ansible-collection-commons-molecule-systohc: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/systohc\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/systohc.*$
  ansible-collection-commons-molecule-timezone: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/timezone\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/timezone.*$
  ansible-collection-commons-molecule-trivy: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/trivy\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/trivy.*$
  ansible-collection-commons-molecule-user: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/user\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/user.*$
