Repository osism/ansible-collection-commons: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

ansible-collection-commons-molecule-certificates:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: certificates

ansible-collection-commons-molecule-cleanup:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: cleanup

ansible-collection-commons-molecule-configfs:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: configfs

ansible-collection-commons-molecule-configuration:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: configuration

ansible-collection-commons-molecule-docker_compose:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: docker_compose

ansible-collection-commons-molecule-docker_login:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: docker_login

ansible-collection-commons-molecule-facts:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: facts

ansible-collection-commons-molecule-firewall:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: firewall

ansible-collection-commons-molecule-hostname:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: hostname

ansible-collection-commons-molecule-hosts:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: hosts

ansible-collection-commons-molecule-ipmitool:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: ipmitool

ansible-collection-commons-molecule-kernel_modules:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: kernel_modules

ansible-collection-commons-molecule-known_hosts:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: known_hosts

ansible-collection-commons-molecule-limits:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: limits

ansible-collection-commons-molecule-lynis:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: lynis

ansible-collection-commons-molecule-microcode:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: microcode

ansible-collection-commons-molecule-motd:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: motd

ansible-collection-commons-molecule-network:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: network

ansible-collection-commons-molecule-operator:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: operator

ansible-collection-commons-molecule-packages:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: packages

ansible-collection-commons-molecule-podman:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: podman

ansible-collection-commons-molecule-proxy:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: proxy

configuration: document parameters (#796)
  roles/configuration/defaults/main.yml
Due: ansible-collection-commons-molecule-configuration

docker-compose: document parameters
  roles/docker_compose/defaults/main.yml
Due: ansible-collection-commons-molecule-docker_compose

docker-compose: document parameters (#797)
  roles/docker_compose/defaults/main.yml
Due: ansible-collection-commons-molecule-docker_compose

docker-login: document parameters
  roles/docker_login/defaults/main.yml
Due: ansible-collection-commons-molecule-docker_login

docker-login: document parameters (#798)
  roles/docker_login/defaults/main.yml
Due: ansible-collection-commons-molecule-docker_login

Fix ansible 2.19 broken conditionals
  roles/configuration/tasks/git.yml
  roles/known_hosts/tasks/main.yml
  roles/known_hosts/tasks/write-scanned.yml
Due: ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-known_hosts

Fix ansible 2.19 broken conditionals (#800)
  roles/configuration/tasks/git.yml
  roles/known_hosts/tasks/main.yml
  roles/known_hosts/tasks/write-scanned.yml
Due: ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-known_hosts

configuration: add netbox submodule management
  roles/configuration/defaults/main.yml
  roles/configuration/tasks/main.yml
  roles/configuration/tasks/netbox.yml
Due: ansible-collection-commons-molecule-configuration

configuration: add netbox submodule management (#804)
  roles/configuration/defaults/main.yml
  roles/configuration/tasks/main.yml
  roles/configuration/tasks/netbox.yml
Due: ansible-collection-commons-molecule-configuration

repository: support deb822_trusted
  roles/repository/templates/ubuntu.sources.j2
Due: ansible-collection-commons-molecule-repository

repository: support deb822_trusted (#805)
  roles/repository/templates/ubuntu.sources.j2
Due: ansible-collection-commons-molecule-repository

Revert "chore(deps): update dependency python to 3.13 (#801)"
  .github/workflows/publish-collection.yml
Due: none

Revert "chore(deps): update dependency python to 3.13 (#801)" (#806)
  .github/workflows/publish-collection.yml
Due: none

Cleanup .ansible-lint file
  .ansible-lint
Due: none

Cleanup .ansible-lint file (#808)
  .ansible-lint
Due: none

sysctl: net.netfilter.nf_conntrack_max = 1048576 on network nodes
  roles/sysctl/defaults/main.yml
Due: ansible-collection-commons-molecule-sysctl

sysctl: net.netfilter.nf_conntrack_max = 1048576 on network nodes (#813)
  roles/sysctl/defaults/main.yml
Due: ansible-collection-commons-molecule-sysctl

operator: check for operator_password length
  roles/operator/tasks/main.yml
Due: ansible-collection-commons-molecule-operator

operator: check for operator_password length (#814)
  roles/operator/tasks/main.yml
Due: ansible-collection-commons-molecule-operator

network: add tags to be able to skip specific tasks
  roles/network/tasks/main.yml
  roles/network/tasks/vxlan-interfaces.yml
Due: ansible-collection-commons-molecule-network

network: add tags to be able to skip specific tasks (#816)
  roles/network/tasks/main.yml
  roles/network/tasks/vxlan-interfaces.yml
Due: ansible-collection-commons-molecule-network

certificates: add support for automatic CA certificate discovery from configuration directory
  roles/certificates/defaults/main.yml
  roles/certificates/tasks/main.yml
Due: ansible-collection-commons-molecule-certificates

certificates: add support for automatic CA certificate discovery from configuration directory (#817)
  roles/certificates/defaults/main.yml
  roles/certificates/tasks/main.yml
Due: ansible-collection-commons-molecule-certificates

certificates: slurp certificates first
  molecule/delegated/vars/certificates.yml
  roles/certificates/defaults/main.yml
  roles/certificates/tasks/main.yml
Due: ansible-collection-commons-molecule-certificates

certificates: slurp certificates first (#818)
  molecule/delegated/vars/certificates.yml
  roles/certificates/defaults/main.yml
  roles/certificates/tasks/main.yml
Due: ansible-collection-commons-molecule-certificates

kernel_module: add vfio-pci.conf file
  roles/kernel_modules/defaults/main.yml
  roles/kernel_modules/tasks/main.yml
Due: ansible-collection-commons-molecule-kernel_modules

kernel_module: add vfio-pci.conf file (#819)
  roles/kernel_modules/defaults/main.yml
  roles/kernel_modules/tasks/main.yml
Due: ansible-collection-commons-molecule-kernel_modules

repository: use HTTPS instead of HTTP for all Debian/Ubuntu mirros
  roles/repository/vars/Debian-x86_64.yml
  roles/repository/vars/Ubuntu-aarch64.yml
  roles/repository/vars/Ubuntu-x86_64.yml
Due: ansible-collection-commons-molecule-repository

repository: use HTTPS instead of HTTP for all Debian/Ubuntu mirrors (#820)
  roles/repository/vars/Debian-x86_64.yml
  roles/repository/vars/Ubuntu-aarch64.yml
  roles/repository/vars/Ubuntu-x86_64.yml
Due: ansible-collection-commons-molecule-repository

user: add comprehensive parameter documentation to defaults
  CHANGELOG.md
  roles/user/defaults/main.yml
Due: ansible-collection-commons-molecule-user

operator: add custom PS1 prompt configuration
  roles/operator/defaults/main.yml
  roles/operator/tasks/main.yml
Due: ansible-collection-commons-molecule-operator

operator: add custom PS1 prompt configuration (#823)
  roles/operator/defaults/main.yml
  roles/operator/tasks/main.yml
Due: ansible-collection-commons-molecule-operator

configuration: disable recursive git submodule cloning
  roles/configuration/tasks/update.yml
Due: ansible-collection-commons-molecule-configuration

configuration: disable recursive git submodule cloning (#827)
  roles/configuration/tasks/update.yml
Due: ansible-collection-commons-molecule-configuration

configuration: use dedicated template for netbox git private key
  roles/configuration/tasks/netbox.yml
  roles/configuration/templates/config-git-netbox-private-key.j2
Due: ansible-collection-commons-molecule-configuration

configuration: use dedicated template for netbox git private key (#828)
  roles/configuration/tasks/netbox.yml
  roles/configuration/templates/config-git-netbox-private-key.j2
Due: ansible-collection-commons-molecule-configuration

repository: use ftp.uni-stuttgart.de as default ubuntu mirror
  roles/repository/vars/Ubuntu-x86_64.yml
Due: ansible-collection-commons-molecule-repository

repository: use ftp.uni-stuttgart.de as default ubuntu mirror (#830)
  roles/repository/vars/Ubuntu-x86_64.yml
Due: ansible-collection-commons-molecule-repository

network: add optional network-extra-init service
  molecule/delegated/vars/network.yml
  roles/network/defaults/main.yml
  roles/network/handlers/main.yml
  roles/network/tasks/main.yml
  roles/network/tasks/network-extra-init.yml
  roles/network/templates/network-extra-init.service.j2
  roles/network/templates/network-extra-init.sh.j2
  roles/network/vars/Debian-family.yml
  roles/network/vars/RedHat-family.yml
Due: ansible-collection-commons-molecule-network

Path conditions:
  ansible-collection-commons-molecule-certificates: any of: ^roles\/certificates\/.*$, ^molecule\/delegated\/tests\/certificates.*$
  ansible-collection-commons-molecule-cleanup: any of: ^roles\/cleanup\/.*$, ^molecule\/delegated\/tests\/cleanup.*$
  ansible-collection-commons-molecule-configfs: any of: ^roles\/configfs\/.*$, ^molecule\/delegated\/tests\/configfs.*$
  ansible-collection-commons-molecule-configuration: any of: ^roles\/configuration\/.*$, ^molecule\/delegated\/tests\/configuration.*$
  ansible-collection-commons-molecule-docker_compose: any of: ^roles\/docker_compose\/.*$, ^molecule\/delegated\/tests\/docker_compose.*$
  ansible-collection-commons-molecule-docker_login: any of: ^roles\/docker_login\/.*$, ^molecule\/delegated\/tests\/docker_login.*$
  ansible-collection-commons-molecule-facts: any of: ^roles\/facts\/.*$, ^molecule\/delegated\/tests\/facts.*$
  ansible-collection-commons-molecule-firewall: any of: ^roles\/firewall\/.*$, ^molecule\/delegated\/tests\/firewall.*$
  ansible-collection-commons-molecule-hostname: any of: ^roles\/hostname\/.*$, ^molecule\/delegated\/tests\/hostname.*$
  ansible-collection-commons-molecule-hosts: any of: ^roles\/hosts\/.*$, ^molecule\/delegated\/tests\/hosts.*$
  ansible-collection-commons-molecule-ipmitool: any of: ^roles\/ipimtool\/.*$, ^molecule\/delegated\/tests\/ipmitool.*$
  ansible-collection-commons-molecule-kernel_modules: any of: ^roles\/kernel_modules\/.*$, ^molecule\/delegated\/tests\/kernel_modules.*$
  ansible-collection-commons-molecule-known_hosts: any of: ^roles\/known_hosts\/.*$, ^molecule\/delegated\/tests\/known_hosts.*$
  ansible-collection-commons-molecule-limits: any of: ^roles\/limits\/.*$, ^molecule\/delegated\/tests\/limits.*$
  ansible-collection-commons-molecule-lynis: any of: ^roles\/lynis\/.*$, ^molecule\/delegated\/tests\/lynis.*$
  ansible-collection-commons-molecule-microcode: any of: ^roles\/microcode\/.*$, ^molecule\/delegated\/tests\/microcode.*$
  ansible-collection-commons-molecule-motd: any of: ^roles\/motd\/.*$, ^molecule\/delegated\/tests\/motd.*$
  ansible-collection-commons-molecule-network: any of: ^roles\/network\/.*$, ^molecule\/delegated\/tests\/network.*$
  ansible-collection-commons-molecule-operator: any of: ^roles\/operator\/.*$, ^molecule\/delegated\/tests\/operator.*$
  ansible-collection-commons-molecule-packages: any of: ^roles\/packages\/.*$, ^molecule\/delegated\/tests\/packages.*$
  ansible-collection-commons-molecule-podman: any of: ^roles\/podman\/.*$, ^molecule\/delegated\/tests\/podman.*$
  ansible-collection-commons-molecule-proxy: any of: ^roles\/proxy\/.*$, ^molecule\/delegated\/tests\/proxy.*$
  ansible-collection-commons-molecule-repository: any of: ^roles\/repository\/.*$, ^molecule\/delegated\/tests\/repository.*$
  ansible-collection-commons-molecule-resolvconf: any of: ^roles\/resolvconf\/.*$, ^molecule\/delegated\/tests\/resolvconf.*$
  ansible-collection-commons-molecule-runc: any of: ^roles\/runc\/.*$, ^molecule\/delegated\/tests\/runc.*$
  ansible-collection-commons-molecule-services: any of: ^roles\/services\/.*$, ^molecule\/delegated\/tests\/services.*$
  ansible-collection-commons-molecule-sosreport: any of: ^roles\/sosreport\/.*$, ^molecule\/delegated\/tests\/sosreport.*$
  ansible-collection-commons-molecule-sshconfig: any of: ^roles\/sshconfig\/.*$, ^molecule\/delegated\/tests\/sshconfig.*$
  ansible-collection-commons-molecule-state: any of: ^roles\/state\/.*$, ^molecule\/delegated\/tests\/state.*$
  ansible-collection-commons-molecule-sysctl: any of: ^roles\/sysctl\/.*$, ^molecule\/delegated\/tests\/sysctl.*$
  ansible-collection-commons-molecule-systohc: any of: ^roles\/systohc\/.*$, ^molecule\/delegated\/tests\/systohc.*$
  ansible-collection-commons-molecule-timezone: any of: ^roles\/timezone\/.*$, ^molecule\/delegated\/tests\/timezone.*$
  ansible-collection-commons-molecule-trivy: any of: ^roles\/trivy\/.*$, ^molecule\/delegated\/tests\/trivy.*$
  ansible-collection-commons-molecule-user: any of: ^roles\/user\/.*$, ^molecule\/delegated\/tests\/user.*$
