Repository osism/ansible-collection-commons: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

ansible-collection-commons-molecule-certificates:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: certificates

ansible-collection-commons-molecule-cleanup:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: cleanup

ansible-collection-commons-molecule-configfs:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: configfs

ansible-collection-commons-molecule-configuration:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: configuration

ansible-collection-commons-molecule-docker_compose:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: docker_compose

ansible-collection-commons-molecule-docker_login:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: docker_login

ansible-collection-commons-molecule-facts:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: facts

ansible-collection-commons-molecule-firewall:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: firewall

ansible-collection-commons-molecule-hostname:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: hostname

ansible-collection-commons-molecule-hosts:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: hosts

ansible-collection-commons-molecule-ipmitool:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: ipmitool

ansible-collection-commons-molecule-kernel_modules:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: kernel_modules

ansible-collection-commons-molecule-known_hosts:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: known_hosts

ansible-collection-commons-molecule-kompose:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: kompose

ansible-collection-commons-molecule-kubectl:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: kubectl

ansible-collection-commons-molecule-limits:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: limits

ansible-collection-commons-molecule-lynis:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: lynis

ansible-collection-commons-molecule-microcode:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: microcode

ansible-collection-commons-molecule-motd:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: motd

ansible-collection-commons-molecule-network:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: network

ansible-collection-commons-molecule-operator:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: operator

ansible-collection-commons-molecule-packages:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: packages

Fix resolvconf.py
  molecule/delegated/tests/resolvconf.py
Due: ansible-collection-commons-molecule-resolvconf

Fix ansible-lint failure and yamllint warnings
  molecule/delegated/prepare/docker_compose.yml
  roles/kubectl/tasks/install-RedHat-family.yml
  roles/lynis/tasks/install-RedHat-family.yml
  roles/microcode/tasks/main.yml
  roles/network/tasks/netplan-RedHat-family.yml
  roles/network/vars/Debian-family.yml
  roles/network/vars/RedHat-family.yml
  roles/systohc/tasks/main.yml
  roles/trivy/tasks/install-Debian-family.yml
Due: ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-trivy

Fix failed Ubuntu 24.04 tests (#630)
  molecule/delegated/prepare/docker_compose.yml
  molecule/delegated/tests/resolvconf.py
  molecule/delegated/tests/trivy/debian.py
  roles/kubectl/tasks/install-RedHat-family.yml
  roles/lynis/tasks/install-RedHat-family.yml
  roles/microcode/tasks/main.yml
  roles/network/tasks/netplan-RedHat-family.yml
  roles/network/vars/Debian-family.yml
  roles/network/vars/RedHat-family.yml
  roles/systohc/tasks/main.yml
  roles/trivy/tasks/install-Debian-family.yml
Due: ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-trivy

network: fix cleanup of netplan files @ Debian/Ubuntu
  roles/network/tasks/netplan-Debian-family.yml
Due: ansible-collection-commons-molecule-network

network: fix cleanup of netplan files @ Debian/Ubuntu (#637)
  roles/network/tasks/netplan-Debian-family.yml
Due: ansible-collection-commons-molecule-network

sshconfig: allow to skip "Ensure config for each host exist"
  roles/sshconfig/tasks/main.yml
Due: ansible-collection-commons-molecule-sshconfig

sshconfig: allow to skip "Ensure config for each host exist" (#639)
  roles/sshconfig/tasks/main.yml
Due: ansible-collection-commons-molecule-sshconfig

Migrate certificates docs
  roles/certificates/README.rst
Due: ansible-collection-commons-molecule-certificates

Migrate certificates docs (#640)
  roles/certificates/README.rst
Due: ansible-collection-commons-molecule-certificates

operator: make it possible to delete authorized keys
  roles/operator/defaults/main.yml
  roles/operator/tasks/main.yml
Due: ansible-collection-commons-molecule-operator

known_hosts: make it possible to delete entries
  roles/known_hosts/defaults/main.yml
  roles/known_hosts/tasks/main.yml
Due: ansible-collection-commons-molecule-known_hosts

operator: make it possible to delete authorized keys (#641)
  roles/operator/defaults/main.yml
  roles/operator/tasks/main.yml
Due: ansible-collection-commons-molecule-operator

known_hosts: make it possible to delete entries (#642)
  roles/known_hosts/defaults/main.yml
  roles/known_hosts/tasks/main.yml
Due: ansible-collection-commons-molecule-known_hosts

user: overall improvements
  molecule/delegated/tests/user.py
  molecule/delegated/tests/user/__init__.py
  molecule/delegated/tests/user/keyfile.py
  roles/user/README.rst
  roles/user/defaults/main.yml
  roles/user/tasks/accounts.yml
  roles/user/tasks/fetch_ssh_key.yml
  roles/user/tasks/keyfile.yml
  roles/user/tasks/main.yml
  roles/user/tasks/remote-key.yml
  roles/user/tasks/type-default.yml
  roles/user/tasks/type-keyfile.yml
Due: ansible-collection-commons-molecule-user

user: overall improvements (#643)
  molecule/delegated/tests/user.py
  molecule/delegated/tests/user/__init__.py
  molecule/delegated/tests/user/keyfile.py
  roles/user/README.rst
  roles/user/defaults/main.yml
  roles/user/tasks/accounts.yml
  roles/user/tasks/fetch_ssh_key.yml
  roles/user/tasks/keyfile.yml
  roles/user/tasks/main.yml
  roles/user/tasks/remote-key.yml
  roles/user/tasks/type-default.yml
  roles/user/tasks/type-keyfile.yml
Due: ansible-collection-commons-molecule-user

README: cleanup
  README.md
Due: none

README: cleanup (#644)
  README.md
Due: none

user: make it possible to change the primary group
  roles/user/defaults/main.yml
  roles/user/tasks/type-default.yml
Due: ansible-collection-commons-molecule-user

user: make it possible to change the primary group (#645)
  roles/user/defaults/main.yml
  roles/user/tasks/type-default.yml
Due: ansible-collection-commons-molecule-user

user: add user_sudoers parameter
  roles/user/defaults/main.yml
  roles/user/templates/config.j2
Due: ansible-collection-commons-molecule-user

user: add user_sudoers parameter (#646)
  roles/user/defaults/main.yml
  roles/user/templates/config.j2
Due: ansible-collection-commons-molecule-user

user: add shortcut to fetch keys from github
  roles/user/tasks/remote-key.yml
Due: ansible-collection-commons-molecule-user

user: add shortcut to fetch keys from github (#647)
  roles/user/tasks/remote-key.yml
Due: ansible-collection-commons-molecule-user

proxy: remove settings when no settings are defined
  roles/proxy/tasks/Debian-family.yml
  roles/proxy/tasks/main.yml
Due: ansible-collection-commons-molecule-proxy

user: fix handling of key downloads
  roles/user/tasks/remote-key.yml
Due: ansible-collection-commons-molecule-user

proxy: remove settings when no settings are defined (#648)
  roles/proxy/tasks/Debian-family.yml
  roles/proxy/tasks/main.yml
Due: ansible-collection-commons-molecule-proxy

user: fix handling of key downloads (#649)
  roles/user/tasks/remote-key.yml
Due: ansible-collection-commons-molecule-user

Remove release notes
  releasenotes/notes/add-molecule-testinfra-2d1589b440392f7d.yaml
  releasenotes/notes/add-molecule-zuul-job-4733139d7df31f65.yaml
  releasenotes/notes/add-redhat-implementation-8e9e9a5b93dd7bb6.yaml
  releasenotes/notes/docker-compose-osism-target-59a57cb00e7502a3.yaml
  releasenotes/notes/docker-compose-service-simple-5b5b79435ad8391f.yaml
  releasenotes/notes/fix-netplan-permissions-547-f7c6028bf2d158dd.yaml
  releasenotes/notes/limits-516d3a18b094046f.yaml
  releasenotes/notes/netplan-permissions-13170182ceae251f.yaml
  releasenotes/notes/network-default-netplan-dda52e88b415f4f2.yaml
  releasenotes/notes/operator_authorized_keys_minimal-6379a5c583625bef.yaml
  releasenotes/notes/repository-check-if-manager-is-there-6a748edc89deb5d1.yaml
  releasenotes/notes/still-alive-callback-plugin-7dd0a0eca15fc4ce.yaml
Due: none

Remove release notes (#650)
  releasenotes/notes/add-molecule-testinfra-2d1589b440392f7d.yaml
  releasenotes/notes/add-molecule-zuul-job-4733139d7df31f65.yaml
  releasenotes/notes/add-redhat-implementation-8e9e9a5b93dd7bb6.yaml
  releasenotes/notes/docker-compose-osism-target-59a57cb00e7502a3.yaml
  releasenotes/notes/docker-compose-service-simple-5b5b79435ad8391f.yaml
  releasenotes/notes/fix-netplan-permissions-547-f7c6028bf2d158dd.yaml
  releasenotes/notes/limits-516d3a18b094046f.yaml
  releasenotes/notes/netplan-permissions-13170182ceae251f.yaml
  releasenotes/notes/network-default-netplan-dda52e88b415f4f2.yaml
  releasenotes/notes/operator_authorized_keys_minimal-6379a5c583625bef.yaml
  releasenotes/notes/repository-check-if-manager-is-there-6a748edc89deb5d1.yaml
  releasenotes/notes/still-alive-callback-plugin-7dd0a0eca15fc4ce.yaml
Due: none

change permissions
  molecule/delegated/tests/configuration/main.py
Due: ansible-collection-commons-molecule-configuration

Change permissions for checkout folder
  roles/configuration/tasks/git.yml
Due: ansible-collection-commons-molecule-configuration

Fix task name
  roles/configuration/tasks/git.yml
Due: ansible-collection-commons-molecule-configuration

configuration: ensure permissions for /opt/configuration (#653)
  molecule/delegated/tests/configuration/main.py
  roles/configuration/tasks/git.yml
Due: ansible-collection-commons-molecule-configuration

user: add user_sudoers_type parameter
  roles/user/defaults/main.yml
  roles/user/templates/config.j2
Due: ansible-collection-commons-molecule-user

user: add user_sudoers_type parameter (#651)
  roles/user/defaults/main.yml
  roles/user/templates/config.j2
Due: ansible-collection-commons-molecule-user

kubectl: use 1.30 repositories
  roles/kubectl/defaults/main.yml
Due: ansible-collection-commons-molecule-kubectl

kubectl: use 1.30 repositories (#655)
  roles/kubectl/defaults/main.yml
Due: ansible-collection-commons-molecule-kubectl

kubectl: make required packages distro specific
  molecule/delegated/tests/kubectl/debian.py
  molecule/delegated/tests/kubectl/main.py
  roles/kubectl/README.rst
  roles/kubectl/defaults/main.yml
  roles/kubectl/tasks/install-Debian-family.yml
  roles/kubectl/tasks/install-RedHat-family.yml
  roles/kubectl/tasks/main.yml
  roles/kubectl/vars/Debian-family.yml
  roles/kubectl/vars/RedHat-family.yml
Due: ansible-collection-commons-molecule-kubectl

kubectl: make required packages distro specific (#654)
  molecule/delegated/tests/kubectl/debian.py
  molecule/delegated/tests/kubectl/main.py
  roles/kubectl/README.rst
  roles/kubectl/defaults/main.yml
  roles/kubectl/tasks/install-Debian-family.yml
  roles/kubectl/tasks/install-RedHat-family.yml
  roles/kubectl/tasks/main.yml
  roles/kubectl/vars/Debian-family.yml
  roles/kubectl/vars/RedHat-family.yml
Due: ansible-collection-commons-molecule-kubectl

kubectl: install python3-kubernetes on Debian-based distros
  roles/kubectl/vars/Debian-family.yml
  roles/kubectl/vars/RedHat-family.yml
Due: ansible-collection-commons-molecule-kubectl

Path conditions:
  ansible-collection-commons-molecule-certificates: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/certificates\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/certificates.*$
  ansible-collection-commons-molecule-cleanup: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/cleanup\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/cleanup.*$
  ansible-collection-commons-molecule-configfs: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/configfs\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/configfs.*$
  ansible-collection-commons-molecule-configuration: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/configuration\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/configuration.*$
  ansible-collection-commons-molecule-docker_compose: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/docker_compose\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/docker_compose.*$
  ansible-collection-commons-molecule-docker_login: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/docker_login\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/docker_login.*$
  ansible-collection-commons-molecule-facts: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/facts\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/facts.*$
  ansible-collection-commons-molecule-firewall: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/firewall\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/firewall.*$
  ansible-collection-commons-molecule-hostname: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/hostname\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/hostname.*$
  ansible-collection-commons-molecule-hosts: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/hosts\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/hosts.*$
  ansible-collection-commons-molecule-ipmitool: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/ipimtool\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/ipmitool.*$
  ansible-collection-commons-molecule-kernel_modules: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/kernel_modules\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/kernel_modules.*$
  ansible-collection-commons-molecule-known_hosts: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/known_hosts\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/known_hosts.*$
  ansible-collection-commons-molecule-kompose: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/kompose\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/kompose.*$
  ansible-collection-commons-molecule-kubectl: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/kubectl\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/kubectl.*$
  ansible-collection-commons-molecule-limits: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/limits\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/limits.*$
  ansible-collection-commons-molecule-lynis: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/lynis\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/lynis.*$
  ansible-collection-commons-molecule-microcode: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/microcode\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/microcode.*$
  ansible-collection-commons-molecule-motd: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/motd\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/motd.*$
  ansible-collection-commons-molecule-network: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/network\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/network.*$
  ansible-collection-commons-molecule-operator: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/operator\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/operator.*$
  ansible-collection-commons-molecule-packages: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/packages\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/packages.*$
  ansible-collection-commons-molecule-podman: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/podman\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/podman.*$
  ansible-collection-commons-molecule-proxy: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/proxy\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/proxy.*$
  ansible-collection-commons-molecule-repository: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/repository\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/repository.*$
  ansible-collection-commons-molecule-resolvconf: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/resolvconf\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/resolvconf.*$
  ansible-collection-commons-molecule-runc: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/runc\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/runc.*$
  ansible-collection-commons-molecule-services: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/services\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/services.*$
  ansible-collection-commons-molecule-sosreport: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/sosreport\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/sosreport.*$
  ansible-collection-commons-molecule-sshconfig: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/sshconfig\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/sshconfig.*$
  ansible-collection-commons-molecule-state: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/state\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/state.*$
  ansible-collection-commons-molecule-sysctl: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/sysctl\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/sysctl.*$
  ansible-collection-commons-molecule-systohc: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/systohc\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/systohc.*$
  ansible-collection-commons-molecule-timezone: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/timezone\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/timezone.*$
  ansible-collection-commons-molecule-trivy: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/trivy\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/trivy.*$
  ansible-collection-commons-molecule-user: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/user\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/user.*$
