Repository osism/ansible-collection-commons: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy

Path conditions:
  ansible-collection-commons-molecule-certificates: any of: ^roles\/certificates\/.*$, ^molecule\/delegated\/tests\/certificates.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-cleanup: any of: ^roles\/cleanup\/.*$, ^molecule\/delegated\/tests\/cleanup.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-configfs: any of: ^roles\/configfs\/.*$, ^molecule\/delegated\/tests\/configfs.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-configuration: any of: ^roles\/configuraion\/.*$, ^molecule\/delegated\/tests\/configuration.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-docker_compose: any of: ^roles\/docker_compose\/.*$, ^molecule\/delegated\/tests\/docker_compose.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-docker_login: any of: ^roles\/docker_login\/.*$, ^molecule\/delegated\/tests\/docker_login.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-facts: any of: ^roles\/facts\/.*$, ^molecule\/delegated\/tests\/facts.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-firewall: any of: ^roles\/firewall\/.*$, ^molecule\/delegated\/tests\/firewall.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-hostname: any of: ^roles\/hostname\/.*$, ^molecule\/delegated\/tests\/hostname.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-hosts: any of: ^roles\/hosts\/.*$, ^molecule\/delegated\/tests\/hosts.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-ipmitool: any of: ^roles\/ipimtool\/.*$, ^molecule\/delegated\/tests\/ipmitool.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-kernel_modules: any of: ^roles\/kernel_modules\/.*$, ^molecule\/delegated\/tests\/kernel_modules.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-known_hosts: any of: ^roles\/known_hosts\/.*$, ^molecule\/delegated\/tests\/known_hosts.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-kompose: any of: ^roles\/kompose\/.*$, ^molecule\/delegated\/tests\/kompose.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-kubectl: any of: ^roles\/kubectl\/.*$, ^molecule\/delegated\/tests\/kubectl.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-limits: any of: ^roles\/limits\/.*$, ^molecule\/delegated\/tests\/limits.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-lynis: any of: ^roles\/lynis\/.*$, ^molecule\/delegated\/tests\/lynis.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-microcode: any of: ^roles\/microcode\/.*$, ^molecule\/delegated\/tests\/microcode.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-motd: any of: ^roles\/motd\/.*$, ^molecule\/delegated\/tests\/motd.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-operator: any of: ^roles\/operator\/.*$, ^molecule\/delegated\/tests\/operator.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-packages: any of: ^roles\/packages\/.*$, ^molecule\/delegated\/tests\/packages.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-podman: any of: ^roles\/podman\/.*$, ^molecule\/delegated\/tests\/podman.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-proxy: any of: ^roles\/proxy\/.*$, ^molecule\/delegated\/tests\/proxy.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-repository: any of: ^roles\/repository\/.*$, ^molecule\/delegated\/tests\/repository.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-resolvconf: any of: ^roles\/resolvconf\/.*$, ^molecule\/delegated\/tests\/resolvconf.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-runc: any of: ^roles\/runc\/.*$, ^molecule\/delegated\/tests\/runc.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-services: any of: ^roles\/services\/.*$, ^molecule\/delegated\/tests\/services.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-sosreport: any of: ^roles\/sosreport\/.*$, ^molecule\/delegated\/tests\/sosreport.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-sshconfig: any of: ^roles\/sshconfig\/.*$, ^molecule\/delegated\/tests\/sshconfig.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-state: any of: ^roles\/state\/.*$, ^molecule\/delegated\/tests\/state.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-sysctl: any of: ^roles\/sysctl\/.*$, ^molecule\/delegated\/tests\/sysctl.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-systohc: any of: ^roles\/systohc\/.*$, ^molecule\/delegated\/tests\/systohc.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-timezone: any of: ^roles\/timezone\/.*$, ^molecule\/delegated\/tests\/timezone.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-trivy: any of: ^roles\/trivy\/.*$, ^molecule\/delegated\/tests\/trivy.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$

Testing RHEL implementation for docker_compose role
  molecule/delegated/prepare/docker_compose.yml
  molecule/delegated/prepare/docker_compose_bkp.yml
  roles/docker_compose/tasks/install.yml
Due: ansible-collection-commons-molecule-docker_compose

Test centOS Zuul worker
  .zuul.yaml
  molecule/delegated/prepare/certificates.yml
  molecule/delegated/prepare/configuration.yml
Due: none

Further RHEL implementations...
  .zuul.yaml
  molecule/delegated/molecule.yml
  molecule/delegated/prepare/certificates.yml
  molecule/delegated/prepare/configuration.yml
  molecule/delegated/prepare/firewall.yml
  roles/configuration/tasks/git.yml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy

Use modified ansible-molecule from zuul-jobs
  .zuul.yaml
  molecule/delegated/prepare/firewall.yml
  playbooks/centos-molecule/run.yml
  roles/centos_molecule/defaults/main.yml
  roles/centos_molecule/tasks/install-Debian.yml
  roles/centos_molecule/tasks/install-RedHat.yml
  roles/centos_molecule/tasks/main.yml
Due: none

RHEL implementation for ipmitool
  .zuul.yaml
  molecule/delegated/prepare/firewall.yml
  roles/ipmitool/tasks/install-RedHat.yml
Due: none

RHEL implementation for podman
  .zuul.yaml
  README.md
  molecule/delegated/prepare/podman.yml
  molecule/delegated/tests/podman/__init__.py
  molecule/delegated/tests/podman/debian.py
  molecule/delegated/tests/podman/redhat.py
  roles/certificates/tasks/install-Debian.yml
  roles/podman/tasks/install-Debian.yml
  roles/podman/tasks/install-RedHat.yml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-podman

RHEL implementation for sosreport
  .zuul.yaml
  molecule/delegated/prepare/sosreport.yml
  roles/sosreport/defaults/main.yml
  roles/sosreport/tasks/install-Debian.yml
  roles/sosreport/tasks/install-RedHat.yml
  roles/sosreport/tasks/main.yml
  roles/sosreport/vars/Debian.yml
  roles/sosreport/vars/RedHat.yml
Due: ansible-collection-commons-molecule-sosreport

RHEL implementation for runc
  .zuul.yaml
  roles/runc/tasks/install-RedHat.yml
Due: ansible-collection-commons-molecule-runc

RHEL implementation for timezone
  .zuul.yaml
  molecule/delegated/tests/timezone/__init__.py
  molecule/delegated/tests/timezone/debian.py
  molecule/delegated/tests/timezone/main.py
  molecule/delegated/tests/timezone/redhat.py
  roles/timezone/tasks/main.yml
Due: ansible-collection-commons-molecule-timezone

RHEL implementation for trivy
  .zuul.yaml
  molecule/delegated/prepare/trivy.yml
  molecule/delegated/tests/pytest.ini
  molecule/delegated/tests/trivy/redhat.py
  molecule/delegated/tests/util/util.py
  roles/timezone/tasks/main.yml
  roles/trivy/defaults/main.yml
  roles/trivy/tasks/install-RedHat.yml
Due: ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy

RHEL implementation for repository role
  .zuul.yaml
  README.md
  molecule/delegated/prepare/repository.yml
  molecule/delegated/prepare/trivy.yml
  molecule/delegated/tests/repository/redhat.py
  molecule/delegated/tests/resolvconf/__init__.py
  molecule/delegated/tests/resolvconf/debian.py
  molecule/delegated/tests/resolvconf/redhat.py
Due: ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf

RHEL implementation for lynis role
  .zuul.yaml
  README.md
  molecule/delegated/tests/lynis/__init__.py
  molecule/delegated/tests/lynis/debian.py
  molecule/delegated/tests/lynis/redhat.py
  molecule/delegated/tests/repository/redhat.py
  roles/lynis/tasks/install-Debian.yml
  roles/lynis/tasks/install-RedHat.yml
Due: ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-repository

RHEL implementation for operator role
  molecule/delegated/tests/operator.py
Due: ansible-collection-commons-molecule-operator

RHEL implementation for docker_compose role
  .zuul.yaml
  molecule/delegated/prepare/docker_compose.yml
  molecule/delegated/prepare/docker_compose_bkp.yml
  molecule/delegated/tests/docker_compose.py
  molecule/delegated/tests/operator.py
  roles/docker_compose/tasks/install-Debian.yml
  roles/docker_compose/tasks/install-RedHat.yml
  roles/docker_compose/tasks/main.yml
Due: ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-operator

RHEL implementation for docker_login role
  .zuul.yaml
  roles/docker_login/tasks/main.yml
Due: ansible-collection-commons-molecule-docker_login

RHEL implementation for microcode role
  .zuul.yaml
  molecule/delegated/prepare/microcode.yml
  molecule/delegated/tests/microcode.py
  roles/microcode/defaults/main.yml
  roles/microcode/tasks/main.yml
Due: ansible-collection-commons-molecule-microcode

RHEL implementation for motd role
  .zuul.yaml
  molecule/delegated/prepare/motd.yml
  molecule/delegated/tests/motd/debian.py
Due: ansible-collection-commons-molecule-motd

RHEL implementation for kompose role
  .zuul.yaml
  README.md
  molecule/delegated/prepare/kompose.yml
  molecule/delegated/tests/kompose/__init__.py
  molecule/delegated/tests/kompose/debian.py
  molecule/delegated/tests/kompose/main.py
  molecule/delegated/tests/kompose/redhat.py
  roles/kompose/tasks/install-Debian.yml
  roles/kompose/tasks/install-RedHat.yml
  roles/kompose/tasks/install-url.yml
Due: ansible-collection-commons-molecule-kompose

RHEL implementation for kubectl role
  .zuul.yaml
  README.md
  molecule/delegated/prepare/kubectl.yml
  molecule/delegated/tests/kubectl/__init__.py
  molecule/delegated/tests/kubectl/debian.py
  molecule/delegated/tests/kubectl/main.py
  molecule/delegated/tests/kubectl/redhat.py
  molecule/delegated/tests/trivy/redhat.py
  roles/kubectl/defaults/main.yml
  roles/kubectl/tasks/install-Debian.yml
  roles/kubectl/tasks/install-RedHat.yml
Due: ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-trivy

Update README.md
  .zuul.yaml
  README.md
  molecule/delegated/tests/network/__init__.py
Due: none

Merged certificates tests to certificates.py
  .zuul.yaml
  README.md
  molecule/delegated/tests/certificates.py
  molecule/delegated/tests/certificates/__init__.py
  molecule/delegated/tests/certificates/debian.py
  molecule/delegated/tests/certificates/redhat.py
Due: ansible-collection-commons-molecule-certificates

Prepare first merge of RHEL implementation
  .zuul.yaml
  README.md
  molecule/delegated/tests/kubectl/redhat.py
  molecule/delegated/tests/motd/debian.py
  molecule/delegated/tests/repository/redhat.py
  molecule/delegated/tests/resolvconf/debian.py
  molecule/delegated/tests/resolvconf/redhat.py
  molecule/delegated/tests/sosreport.py
  molecule/delegated/tests/trivy/debian.py
  molecule/delegated/tests/trivy/redhat.py
  molecule/delegated/tests/util/util.py
  releasenotes/notes/add-redhat-implementation-8e9e9a5b93dd7bb6.yaml
  roles/certificates/defaults/main.yml
  roles/certificates/tasks/install-Debian.yml
  roles/configuration/tasks/git.yml
  roles/sosreport/defaults/main.yml
  roles/timezone/tasks/main.yml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy

Test docker-login with modified collections.yml
  .zuul.yaml
  molecule/delegated/collections.yml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy

Update links to documentation
  README.md
  galaxy.yml
  roles/network/README.md
  roles/packages/README.md
  roles/services/README.md
  roles/sshconfig/README.md
  roles/sysctl/README.md
  roles/timezone/README.md
Due: ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-timezone

Update links to documentation (#600)
  README.md
  galaxy.yml
  roles/network/README.md
  roles/packages/README.md
  roles/services/README.md
  roles/sshconfig/README.md
  roles/sysctl/README.md
  roles/timezone/README.md
Due: ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-timezone

RHEL implementation for repository role
  .zuul.yaml
  README.md
  molecule/delegated/collections.yml
  molecule/delegated/tests/repository/centos.py
  molecule/delegated/tests/repository/ubuntu.py
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy

Remove all package cache updates from prepare steps
  .zuul.yaml
  molecule/delegated/prepare/configuration.yml
  molecule/delegated/prepare/docker_compose.yml
  molecule/delegated/prepare/docker_login.yml
  molecule/delegated/prepare/firewall.yml
  molecule/delegated/prepare/kompose.yml
  molecule/delegated/prepare/kubectl.yml
  molecule/delegated/prepare/microcode.yml
  molecule/delegated/prepare/motd.yml
  molecule/delegated/prepare/podman.yml
  molecule/delegated/prepare/repository.yml
  molecule/delegated/prepare/sosreport.yml
  molecule/delegated/prepare/trivy.yml
Due: none

Replace ansible.builtin.yum with ansible.builtin.dnf
  molecule/delegated/prepare/docker_compose.yml
  molecule/delegated/prepare/podman.yml
  roles/docker_compose/tasks/install-RedHat.yml
  roles/kompose/tasks/install-RedHat.yml
  roles/kubectl/tasks/install-RedHat.yml
  roles/trivy/tasks/install-RedHat.yml
Due: ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-trivy

RHEL implementation for resolvconf role
  .zuul.yaml
  README.md
  molecule/delegated/tests/resolvconf.py
  molecule/delegated/tests/resolvconf/__init__.py
  roles/resolvconf/tasks/configure-Debian.yml
  roles/resolvconf/tasks/configure-RedHat.yml
  roles/resolvconf/tasks/configure-resolv.yml
  roles/resolvconf/tasks/install-Debian.yml
  roles/resolvconf/tasks/install-RedHat.yml
Due: ansible-collection-commons-molecule-resolvconf

RHEL implementation for user role
  .zuul.yaml
  molecule/delegated/prepare/kubectl.yml
  molecule/delegated/prepare/user.yml
  molecule/delegated/tests/user.py
  molecule/delegated/vars/user.yml
Due: none

Testing necessity of gpg package in prepare files
  .zuul.yaml
  molecule/delegated/prepare/docker_compose.yml
  molecule/delegated/prepare/kubectl.yml
  molecule/delegated/prepare/podman.yml
  molecule/delegated/prepare/repository.yml
  molecule/delegated/prepare/trivy.yml
  molecule/delegated/tests/user.py
Due: none

RHEL implementation for network role
  .zuul.yaml
  molecule/delegated/prepare/docker_compose.yml
  molecule/delegated/prepare/network.yml
  molecule/delegated/tests/network.py
  molecule/delegated/vars/network.yml
  roles/network/tasks/type-interfaces.yml
  roles/network/tasks/type-netplan.yml
Due: none

Add molecule test for role user
  molecule/delegated/tests/user.py
  molecule/delegated/tests/user/__init__.py
  molecule/delegated/tests/user/accounts.py
  molecule/delegated/tests/user/keyfile.py
  molecule/delegated/vars/user.yml
Due: none

Fix repository test
  molecule/delegated/tests/repository/centos.py
  molecule/delegated/tests/repository/ubuntu.py
Due: ansible-collection-commons-molecule-repository

Add RHEL implementation and unittests for network role
  .zuul.yaml
  README.md
  molecule/delegated/prepare/docker_compose.yml
  molecule/delegated/prepare/network.yml
  molecule/delegated/tests/network/__init__.py
  molecule/delegated/tests/network/interfaces.py
  molecule/delegated/tests/network/netplan.py
  molecule/delegated/vars/network.yml
  roles/network/defaults/main.yml
  roles/network/tasks/interfaces-Debian.yml
  roles/network/tasks/interfaces-RedHat.yml
  roles/network/tasks/main.yml
  roles/network/tasks/netplan-Debian.yml
  roles/network/tasks/netplan-RedHat.yml
  roles/network/vars/Debian.yml
  roles/network/vars/RedHat.yml
  roles/network/vars/interfaces/centos-9.yml
Due: none

Final cut
  .zuul.yaml
  molecule/delegated/tests/network/interfaces.py
  molecule/delegated/tests/repository/centos.py
  roles/network/defaults/main.yml
Due: ansible-collection-commons-molecule-repository

Experimental fix
  .zuul.yaml
  roles/network/defaults/main.yml
  roles/network/tasks/dummy-interfaces.yml
  roles/network/tasks/netplan-RedHat.yml
Due: none

sshconfig: allow extra SSH config
  roles/sshconfig/defaults/main.yml
  roles/sshconfig/tasks/main.yml
Due: ansible-collection-commons-molecule-sshconfig
