Repository osism/ansible-collection-commons: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy

Path conditions:
  ansible-collection-commons-molecule-certificates: any of: ^roles\/certificates\/.*$, ^molecule\/delegated\/tests\/certificates.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-cleanup: any of: ^roles\/cleanup\/.*$, ^molecule\/delegated\/tests\/cleanup.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-configfs: any of: ^roles\/configfs\/.*$, ^molecule\/delegated\/tests\/configfs.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-configuration: any of: ^roles\/configuraion\/.*$, ^molecule\/delegated\/tests\/configuration.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-docker_compose: any of: ^roles\/docker_compose\/.*$, ^molecule\/delegated\/tests\/docker_compose.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-docker_login: any of: ^roles\/docker_login\/.*$, ^molecule\/delegated\/tests\/docker_login.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-facts: any of: ^roles\/facts\/.*$, ^molecule\/delegated\/tests\/facts.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-firewall: any of: ^roles\/firewall\/.*$, ^molecule\/delegated\/tests\/firewall.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-hostname: any of: ^roles\/hostname\/.*$, ^molecule\/delegated\/tests\/hostname.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-hosts: any of: ^roles\/hosts\/.*$, ^molecule\/delegated\/tests\/hosts.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-ipmitool: any of: ^roles\/ipimtool\/.*$, ^molecule\/delegated\/tests\/ipmitool.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-kernel_modules: any of: ^roles\/kernel_modules\/.*$, ^molecule\/delegated\/tests\/kernel_modules.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-known_hosts: any of: ^roles\/known_hosts\/.*$, ^molecule\/delegated\/tests\/known_hosts.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-kompose: any of: ^roles\/kompose\/.*$, ^molecule\/delegated\/tests\/kompose.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-kubectl: any of: ^roles\/kubectl\/.*$, ^molecule\/delegated\/tests\/kubectl.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-limits: any of: ^roles\/limits\/.*$, ^molecule\/delegated\/tests\/limits.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-lynis: any of: ^roles\/lynis\/.*$, ^molecule\/delegated\/tests\/lynis.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-microcode: any of: ^roles\/microcode\/.*$, ^molecule\/delegated\/tests\/microcode.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-motd: any of: ^roles\/motd\/.*$, ^molecule\/delegated\/tests\/motd.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-operator: any of: ^roles\/operator\/.*$, ^molecule\/delegated\/tests\/operator.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-packages: any of: ^roles\/packages\/.*$, ^molecule\/delegated\/tests\/packages.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-podman: any of: ^roles\/podman\/.*$, ^molecule\/delegated\/tests\/podman.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-proxy: any of: ^roles\/proxy\/.*$, ^molecule\/delegated\/tests\/proxy.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-repository: any of: ^roles\/repository\/.*$, ^molecule\/delegated\/tests\/repository.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-resolvconf: any of: ^roles\/resolvconf\/.*$, ^molecule\/delegated\/tests\/resolvconf.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-runc: any of: ^roles\/runc\/.*$, ^molecule\/delegated\/tests\/runc.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-services: any of: ^roles\/services\/.*$, ^molecule\/delegated\/tests\/services.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-sosreport: any of: ^roles\/sosreport\/.*$, ^molecule\/delegated\/tests\/sosreport.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-sshconfig: any of: ^roles\/sshconfig\/.*$, ^molecule\/delegated\/tests\/sshconfig.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-state: any of: ^roles\/state\/.*$, ^molecule\/delegated\/tests\/state.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-sysctl: any of: ^roles\/sysctl\/.*$, ^molecule\/delegated\/tests\/sysctl.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-systohc: any of: ^roles\/systohc\/.*$, ^molecule\/delegated\/tests\/systohc.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-timezone: any of: ^roles\/timezone\/.*$, ^molecule\/delegated\/tests\/timezone.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$
  ansible-collection-commons-molecule-trivy: any of: ^roles\/trivy\/.*$, ^molecule\/delegated\/tests\/trivy.*$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$

Enable debian testing for all jobs
  .zuul.yaml
Due: none

Disable all role unit tests
  .zuul.yaml
Due: none

Add Debian support for role trivy
  roles/trivy/tasks/install-Debian.yml
Due: ansible-collection-commons-molecule-trivy

Add Debian support for role timezone
  molecule/delegated/tests/timezone/debian.py
Due: ansible-collection-commons-molecule-timezone

Replace osism.github.io with osism.tech
  README.md
  galaxy.yml
  roles/network/README.md
  roles/packages/README.md
  roles/services/README.md
  roles/sshconfig/README.md
  roles/sysctl/README.md
  roles/timezone/README.md
Due: ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-timezone

Replace osism.github.io with osism.tech (#608)
  README.md
  galaxy.yml
  roles/network/README.md
  roles/packages/README.md
  roles/services/README.md
  roles/sshconfig/README.md
  roles/sysctl/README.md
  roles/timezone/README.md
Due: ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-timezone

Add Debian support for role sosreport
  molecule/delegated/tests/sosreport.py
  roles/sosreport/tasks/main.yml
  roles/sosreport/vars/CentOS-dist.yml
  roles/sosreport/vars/Debian-dist.yml
  roles/sosreport/vars/Ubuntu-dist.yml
Due: ansible-collection-commons-molecule-sosreport

Add Debian support for role resolvconf
  .zuul.yaml
  roles/resolvconf/tasks/install-Debian-family.yml
Due: ansible-collection-commons-molecule-resolvconf

Add Debian support for role network – test_service fails in CentOS and Debian
  .zuul.yaml
  roles/network/tasks/interfaces-Debian-family.yml
  roles/network/tasks/interfaces-RedHat-family.yml
  roles/network/tasks/netplan-Debian-family.yml
  roles/network/vars/Debian-family.yml
  roles/network/vars/RedHat-family.yml
  roles/network/vars/interfaces.yml
  roles/network/vars/interfaces/ubuntu-16.04.yml
  roles/network/vars/interfaces/ubuntu-18.04.yml
  roles/network/vars/interfaces/ubuntu-20.04.yml
  roles/network/vars/interfaces/ubuntu-22.04.yml
Due: none

Add Debian support for role motd
  .zuul.yaml
  molecule/delegated/prepare/motd.yml
Due: none

Add Debian support for role microcode
  .zuul.yaml
Due: none

known-hosts: revisit the role
  roles/known_hosts/README.rst
  roles/known_hosts/defaults/main.yml
  roles/known_hosts/tasks/main.yml
  roles/known_hosts/tasks/write-scanned.yml
  roles/known_hosts/tasks/write-static.yml
Due: ansible-collection-commons-molecule-known_hosts

known-hosts: revisit the role (#610)
  roles/known_hosts/README.rst
  roles/known_hosts/defaults/main.yml
  roles/known_hosts/tasks/main.yml
  roles/known_hosts/tasks/write-scanned.yml
  roles/known_hosts/tasks/write-static.yml
Due: ansible-collection-commons-molecule-known_hosts

Adding support for Kubectl on Debian
  .zuul.yaml
  roles/kubectl/defaults/main.yml
  roles/kubectl/tasks/install-Debian-family.yml
Due: ansible-collection-commons-molecule-kubectl

Adding support for lynis on Debian
  .zuul.yaml
  roles/lynis/tasks/install-Debian-family.yml
Due: ansible-collection-commons-molecule-lynis

Adding support for docker-compose on Debian
  .zuul.yaml
  molecule/delegated/prepare/docker_compose.yml
Due: none

Add Debian support for role microcode
  roles/microcode/tasks/main.yml
Due: ansible-collection-commons-molecule-microcode

Add Debian support for role resolvconf
  roles/resolvconf/tasks/install-Debian-family.yml
Due: ansible-collection-commons-molecule-resolvconf

Add Debian support for role docker-compose
  molecule/delegated/prepare/docker_compose.yml
Due: none

Add Debian support for role network
  molecule/delegated/prepare/network.yml
  molecule/delegated/vars/network.yml
  roles/network/tasks/interfaces-Debian-family.yml
  roles/network/tasks/interfaces-RedHat-family.yml
  roles/network/tasks/netplan-Debian-family.yml
  roles/network/tasks/netplan-RedHat-family.yml
  roles/network/vars/Debian-family.yml
  roles/network/vars/RedHat-family.yml
  roles/network/vars/interfaces.yml
  roles/network/vars/interfaces/ubuntu-16.04.yml
  roles/network/vars/interfaces/ubuntu-18.04.yml
  roles/network/vars/interfaces/ubuntu-20.04.yml
  roles/network/vars/interfaces/ubuntu-22.04.yml
Due: none

Add Debian support for role kubectl
  roles/kubectl/tasks/install-Debian-family.yml
Due: ansible-collection-commons-molecule-kubectl

Add Debian support for role lynis
  roles/lynis/tasks/install-Debian-family.yml
Due: ansible-collection-commons-molecule-lynis

Add Debian support for role repository
  molecule/delegated/tests/repository/debian.py
  roles/repository/tasks/repository-Debian-family.yml
Due: ansible-collection-commons-molecule-repository

Add Debian support for role motd
  molecule/delegated/prepare/motd.yml
Due: none
