Repository osism/ansible-collection-commons: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

Path conditions:
  ansible-collection-commons-molecule-certificates: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/certificates\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/certificates.*$
  ansible-collection-commons-molecule-cleanup: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/cleanup\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/cleanup.*$
  ansible-collection-commons-molecule-configfs: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/configfs\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/configfs.*$
  ansible-collection-commons-molecule-configuration: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/configuration\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/configuration.*$
  ansible-collection-commons-molecule-docker_compose: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/docker_compose\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/docker_compose.*$
  ansible-collection-commons-molecule-docker_login: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/docker_login\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/docker_login.*$
  ansible-collection-commons-molecule-facts: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/facts\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/facts.*$
  ansible-collection-commons-molecule-firewall: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/firewall\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/firewall.*$
  ansible-collection-commons-molecule-hostname: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/hostname\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/hostname.*$
  ansible-collection-commons-molecule-hosts: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/hosts\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/hosts.*$
  ansible-collection-commons-molecule-ipmitool: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/ipimtool\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/ipmitool.*$
  ansible-collection-commons-molecule-kernel_modules: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/kernel_modules\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/kernel_modules.*$
  ansible-collection-commons-molecule-known_hosts: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/known_hosts\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/known_hosts.*$
  ansible-collection-commons-molecule-kompose: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/kompose\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/kompose.*$
  ansible-collection-commons-molecule-kubectl: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/kubectl\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/kubectl.*$
  ansible-collection-commons-molecule-limits: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/limits\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/limits.*$
  ansible-collection-commons-molecule-lynis: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/lynis\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/lynis.*$
  ansible-collection-commons-molecule-microcode: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/microcode\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/microcode.*$
  ansible-collection-commons-molecule-motd: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/motd\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/motd.*$
  ansible-collection-commons-molecule-network: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/network\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/network.*$
  ansible-collection-commons-molecule-operator: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/operator\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/operator.*$
  ansible-collection-commons-molecule-packages: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/packages\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/packages.*$
  ansible-collection-commons-molecule-podman: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/podman\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/podman.*$
  ansible-collection-commons-molecule-proxy: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/proxy\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/proxy.*$
  ansible-collection-commons-molecule-repository: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/repository\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/repository.*$
  ansible-collection-commons-molecule-resolvconf: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/resolvconf\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/resolvconf.*$
  ansible-collection-commons-molecule-runc: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/runc\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/runc.*$
  ansible-collection-commons-molecule-services: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/services\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/services.*$
  ansible-collection-commons-molecule-sosreport: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/sosreport\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/sosreport.*$
  ansible-collection-commons-molecule-sshconfig: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/sshconfig\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/sshconfig.*$
  ansible-collection-commons-molecule-state: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/state\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/state.*$
  ansible-collection-commons-molecule-sysctl: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/sysctl\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/sysctl.*$
  ansible-collection-commons-molecule-systohc: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/systohc\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/systohc.*$
  ansible-collection-commons-molecule-timezone: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/timezone\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/timezone.*$
  ansible-collection-commons-molecule-trivy: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/trivy\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/trivy.*$
  ansible-collection-commons-molecule-user: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/user\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/user.*$

improve message
  roles/resolvconf/tasks/main.yml
Due: ansible-collection-commons-molecule-resolvconf

fix
  roles/resolvconf/defaults/main.yml
Due: ansible-collection-commons-molecule-resolvconf

fixes
  roles/resolvconf/defaults/main.yml
  roles/resolvconf/tasks/main.yml
Due: ansible-collection-commons-molecule-resolvconf

resolvconf: add resolvconf_maximum_number_of_nameservers parameter (#677)
  roles/resolvconf/defaults/main.yml
  roles/resolvconf/tasks/main.yml
Due: ansible-collection-commons-molecule-resolvconf

molecule: add missing EPEL repository
  molecule/delegated/prepare/docker_login.yml
Due: ansible-collection-commons-molecule-docker_login

molecule: add missing EPEL repository (#681)
  molecule/delegated/prepare/docker_login.yml
Due: ansible-collection-commons-molecule-docker_login

molecule: install missing requests package
  .zuul.yaml
  molecule/delegated/prepare/docker_login.yml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

docker_login: do not use ansible.builtin.package
  roles/docker_login/tasks/main.yml
Due: ansible-collection-commons-molecule-docker_login

docker_login: do not use ansible.builtin.package (#684)
  roles/docker_login/tasks/main.yml
Due: ansible-collection-commons-molecule-docker_login

Require ansible >= 2.16
  meta/runtime.yml
Due: none

Require ansible >= 2.16 (#685)
  meta/runtime.yml
Due: none

Add lvm2 to required_packages_default
  roles/packages/defaults/main.yml
Due: ansible-collection-commons-molecule-packages

Add lvm2 to required_packages_default (#687)
  roles/packages/defaults/main.yml
Due: ansible-collection-commons-molecule-packages

Remove old and out-of-date README files
  roles/cleanup/README.rst
  roles/clevis/README.rst
  roles/configfs/README.rst
  roles/configuration/README.rst
  roles/docker_compose/README.rst
  roles/docker_login/README.rst
  roles/facts/README.rst
  roles/firewall/README.rst
  roles/hostname/README.rst
  roles/hosts/README.rst
  roles/ipmitool/README.rst
  roles/kernel_modules/README.rst
  roles/kubectl/README.rst
  roles/limits/README.rst
  roles/lynis/README.rst
  roles/microcode/README.rst
  roles/motd/README.rst
  roles/operator/README.rst
  roles/podman/README.rst
  roles/proxy/README.rst
  roles/repository/README.rst
  roles/resolvconf/README.rst
  roles/runc/README.rst
  roles/sosreport/README.rst
  roles/state/README.rst
  roles/systohc/README.rst
  roles/trivy/README.rst
Due: ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-trivy

Remove old and out-of-date README files (#689)
  roles/cleanup/README.rst
  roles/clevis/README.rst
  roles/configfs/README.rst
  roles/configuration/README.rst
  roles/docker_compose/README.rst
  roles/docker_login/README.rst
  roles/facts/README.rst
  roles/firewall/README.rst
  roles/hostname/README.rst
  roles/hosts/README.rst
  roles/ipmitool/README.rst
  roles/kernel_modules/README.rst
  roles/kubectl/README.rst
  roles/limits/README.rst
  roles/lynis/README.rst
  roles/microcode/README.rst
  roles/motd/README.rst
  roles/operator/README.rst
  roles/podman/README.rst
  roles/proxy/README.rst
  roles/repository/README.rst
  roles/resolvconf/README.rst
  roles/runc/README.rst
  roles/sosreport/README.rst
  roles/state/README.rst
  roles/systohc/README.rst
  roles/trivy/README.rst
Due: ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-trivy

zuul: add ansible-collection-ensure-readme job
  .zuul.yaml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

zuul: add ansible-collection-ensure-readme job (#690)
  .zuul.yaml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

network: add dummy-devices
  roles/network/defaults/main.yml
  roles/network/templates/netplan/01-osism.yaml.j2
Due: ansible-collection-commons-molecule-network

network: add dummy-devices (#692)
  roles/network/defaults/main.yml
  roles/network/templates/netplan/01-osism.yaml.j2
Due: ansible-collection-commons-molecule-network

packages: make needrestart mode configurable
  molecule/delegated/tests/packages/debian.py
  molecule/delegated/tests/packages/main.py
  molecule/delegated/tests/packages/redhat.py
  roles/packages/defaults/main.yml
  roles/packages/tasks/package-Debian-family.yml
Due: ansible-collection-commons-molecule-packages

packages: make needrestart mode configurable (#693)
  molecule/delegated/tests/packages/debian.py
  molecule/delegated/tests/packages/main.py
  molecule/delegated/tests/packages/redhat.py
  roles/packages/defaults/main.yml
  roles/packages/tasks/package-Debian-family.yml
Due: ansible-collection-commons-molecule-packages

zuul:add DTRACK_API_KEY secret
  .zuul.yaml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

zuul:add DTRACK_API_KEY secret (#695)
  .zuul.yaml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

network: only use dummy-devices on ubuntu >= 24.04
  roles/network/templates/netplan/01-osism.yaml.j2
Due: ansible-collection-commons-molecule-network

network: skip "Warning when used on Ubuntu >= 22.04" on Debian
  roles/network/tasks/interfaces-Debian-family.yml
Due: ansible-collection-commons-molecule-network

network: only use dummy-devices on ubuntu >= 24.04 (#696)
  roles/network/templates/netplan/01-osism.yaml.j2
Due: ansible-collection-commons-molecule-network

network: skip "Warning when used on Ubuntu >= 22.04" on Debian (#697)
  roles/network/tasks/interfaces-Debian-family.yml
Due: ansible-collection-commons-molecule-network

packages: install isc-dhcp-client on Debian/Ubuntu
  roles/packages/vars/Debian-family.yml
Due: ansible-collection-commons-molecule-packages

packages: install isc-dhcp-client on Debian/Ubuntu (#698)
  roles/packages/vars/Debian-family.yml
Due: ansible-collection-commons-molecule-packages

network: enable dispatcher scripts on CentOS
  roles/network/tasks/netplan-RedHat-family.yml
Due: ansible-collection-commons-molecule-network

packages: add needrestart tags
  roles/packages/tasks/package-Debian-family.yml
Due: ansible-collection-commons-molecule-packages

packages: add needrestart tags (#700)
  roles/packages/tasks/package-Debian-family.yml
Due: ansible-collection-commons-molecule-packages

packages: add missing needrestart tag
  roles/packages/tasks/main.yml
Due: ansible-collection-commons-molecule-packages

packages: add missing needrestart tag (#701)
  roles/packages/tasks/main.yml
Due: ansible-collection-commons-molecule-packages

packages: download packages first
  roles/packages/tasks/main.yml
  roles/packages/tasks/package-Debian-family.yml
  roles/packages/tasks/package-RedHat-family.yml
Due: ansible-collection-commons-molecule-packages

packages: download packages first (#702)
  roles/packages/tasks/main.yml
  roles/packages/tasks/package-Debian-family.yml
  roles/packages/tasks/package-RedHat-family.yml
Due: ansible-collection-commons-molecule-packages

packages: add dnf_lock_timeout to apt.builtin.dnf tasks
  roles/packages/tasks/package-RedHat-family.yml
Due: ansible-collection-commons-molecule-packages

packages: add dnf_lock_timeout to apt.builtin.dnf tasks (#704)
  roles/packages/tasks/package-RedHat-family.yml
Due: ansible-collection-commons-molecule-packages

packages: only update the package cache on CentOS
  roles/packages/tasks/package-RedHat-family.yml
Due: ansible-collection-commons-molecule-packages
