Repository osism/ansible-collection-commons: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

ansible-collection-commons-molecule-certificates:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: certificates

ansible-collection-commons-molecule-cleanup:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: cleanup

ansible-collection-commons-molecule-configfs:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: configfs

ansible-collection-commons-molecule-configuration:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: configuration

ansible-collection-commons-molecule-docker_compose:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: docker_compose

ansible-collection-commons-molecule-docker_login:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: docker_login

ansible-collection-commons-molecule-facts:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: facts

ansible-collection-commons-molecule-firewall:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: firewall

ansible-collection-commons-molecule-hostname:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: hostname

ansible-collection-commons-molecule-hosts:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: hosts

ansible-collection-commons-molecule-ipmitool:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: ipmitool

ansible-collection-commons-molecule-kernel_modules:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: kernel_modules

ansible-collection-commons-molecule-known_hosts:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: known_hosts

ansible-collection-commons-molecule-kompose:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: kompose

ansible-collection-commons-molecule-kubectl:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: kubectl

ansible-collection-commons-molecule-limits:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: limits

ansible-collection-commons-molecule-lynis:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: lynis

ansible-collection-commons-molecule-microcode:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: microcode

ansible-collection-commons-molecule-motd:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: motd

ansible-collection-commons-molecule-network:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: network

ansible-collection-commons-molecule-operator:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: operator

ansible-collection-commons-molecule-packages:
  parent: abstract-ansible-collection-commons-molecule
  vars:
    ansible_role: packages

configuration: move update tasks into a separate file
  roles/configuration/tasks/git.yml
  roles/configuration/tasks/update.yml
Due: ansible-collection-commons-molecule-configuration

configuration: move update tasks into a separate file (#729)
  roles/configuration/tasks/git.yml
  roles/configuration/tasks/update.yml
Due: ansible-collection-commons-molecule-configuration

packages: fix typo in task name
  roles/packages/tasks/package-Debian-family.yml
Due: ansible-collection-commons-molecule-packages

packages: fix typo in task name (#730)
  roles/packages/tasks/package-Debian-family.yml
Due: ansible-collection-commons-molecule-packages

operator: allow to unset & lock the password
  roles/operator/tasks/main.yml
Due: ansible-collection-commons-molecule-operator

operator: allow to unset & lock the password (#731)
  roles/operator/tasks/main.yml
Due: ansible-collection-commons-molecule-operator

Remove clevis role
  .zuul.yaml
  molecule/delegated/prepare/clevis.yml
  molecule/delegated/tests/clevis/__init__.py
  molecule/delegated/tests/clevis/debian.py
  molecule/delegated/tests/clevis/main.py
  molecule/delegated/vars/clevis.yml
  molecule/delegated/verify/clevis.yml
  roles/clevis/README.md
  roles/clevis/defaults/main.yml
  roles/clevis/handlers/main.yml
  roles/clevis/meta/main.yml
  roles/clevis/tasks/create-tangcrypt.yml
  roles/clevis/tasks/install-Debian-family.yml
  roles/clevis/tasks/install-RedHat-family.yml
  roles/clevis/tasks/main.yml
  roles/clevis/templates/keyfile.j2
  roles/clevis/vars/Debian-family.yml
  roles/clevis/vars/RedHat-family.yml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

Remove clevis role (#736)
  .zuul.yaml
  molecule/delegated/prepare/clevis.yml
  molecule/delegated/tests/clevis/__init__.py
  molecule/delegated/tests/clevis/debian.py
  molecule/delegated/tests/clevis/main.py
  molecule/delegated/vars/clevis.yml
  molecule/delegated/verify/clevis.yml
  roles/clevis/README.md
  roles/clevis/defaults/main.yml
  roles/clevis/handlers/main.yml
  roles/clevis/meta/main.yml
  roles/clevis/tasks/create-tangcrypt.yml
  roles/clevis/tasks/install-Debian-family.yml
  roles/clevis/tasks/install-RedHat-family.yml
  roles/clevis/tasks/main.yml
  roles/clevis/templates/keyfile.j2
  roles/clevis/vars/Debian-family.yml
  roles/clevis/vars/RedHat-family.yml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

sysctl: fs.inotify.max_user_instances = 1024 @ k3s_node
  roles/sysctl/defaults/main.yml
Due: ansible-collection-commons-molecule-sysctl

sysctl: fs.inotify.max_user_instances = 1024 @ k3s_node (#738)
  roles/sysctl/defaults/main.yml
Due: ansible-collection-commons-molecule-sysctl

update kubectl to current release
  roles/kubectl/defaults/main.yml
  roles/kubectl/tasks/install-Debian-family.yml
Due: ansible-collection-commons-molecule-kubectl

kubectl: use v1.32 & remove old GPG key (#741)
  roles/kubectl/defaults/main.yml
  roles/kubectl/tasks/install-Debian-family.yml
Due: ansible-collection-commons-molecule-kubectl

kubectl: add kubectl_version parameter
  molecule/delegated/tests/kubectl/redhat.py
  roles/kubectl/defaults/main.yml
Due: ansible-collection-commons-molecule-kubectl

kubectl: add kubectl_version parameter (#742)
  molecule/delegated/tests/kubectl/redhat.py
  roles/kubectl/defaults/main.yml
Due: ansible-collection-commons-molecule-kubectl

molecule: fix flake E712 issue
  molecule/delegated/tests/resolvconf.py
Due: ansible-collection-commons-molecule-resolvconf

motd: also write issue.net file
  roles/motd/defaults/main.yml
  roles/motd/tasks/main.yml
Due: ansible-collection-commons-molecule-motd

network: allow to create vxlan interfaces
  roles/network/defaults/main.yml
  roles/network/tasks/main.yml
  roles/network/tasks/vxlan-interfaces.yml
  roles/network/templates/vxlan.netdev.j2
  roles/network/templates/vxlan.network.j2
Due: ansible-collection-commons-molecule-network

network: allow to create vxlan interfaces (#745)
  roles/network/defaults/main.yml
  roles/network/tasks/main.yml
  roles/network/tasks/vxlan-interfaces.yml
  roles/network/templates/vxlan.netdev.j2
  roles/network/templates/vxlan.network.j2
Due: ansible-collection-commons-molecule-network

Fix vxlan networkd unit names
  roles/network/tasks/vxlan-interfaces.yml
Due: ansible-collection-commons-molecule-network

Add handler to reload networkd
  roles/network/handlers/main.yml
  roles/network/tasks/dummy-interfaces.yml
  roles/network/tasks/vxlan-interfaces.yml
Due: ansible-collection-commons-molecule-network

Allow to optionally set addresses of a vxlan interface
  roles/network/defaults/main.yml
  roles/network/templates/vxlan.network.j2
Due: ansible-collection-commons-molecule-network

molecule: add ANSIBLE_COLLECTIONS_PATH
  molecule/delegated/molecule.yml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

molecule: add ANSIBLE_COLLECTIONS_PATH (#750)
  molecule/delegated/molecule.yml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

molecule: fix ANSIBLE_COLLECTIONS_PATH for CentOS
  molecule/delegated/molecule.yml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

molecule: fix ANSIBLE_COLLECTIONS_PATH for CentOS (#751)
  molecule/delegated/molecule.yml
Due: ansible-collection-commons-molecule-certificates, ansible-collection-commons-molecule-cleanup, ansible-collection-commons-molecule-configfs, ansible-collection-commons-molecule-configuration, ansible-collection-commons-molecule-docker_compose, ansible-collection-commons-molecule-docker_login, ansible-collection-commons-molecule-facts, ansible-collection-commons-molecule-firewall, ansible-collection-commons-molecule-hostname, ansible-collection-commons-molecule-hosts, ansible-collection-commons-molecule-ipmitool, ansible-collection-commons-molecule-kernel_modules, ansible-collection-commons-molecule-known_hosts, ansible-collection-commons-molecule-kompose, ansible-collection-commons-molecule-kubectl, ansible-collection-commons-molecule-limits, ansible-collection-commons-molecule-lynis, ansible-collection-commons-molecule-microcode, ansible-collection-commons-molecule-motd, ansible-collection-commons-molecule-network, ansible-collection-commons-molecule-operator, ansible-collection-commons-molecule-packages, ansible-collection-commons-molecule-podman, ansible-collection-commons-molecule-proxy, ansible-collection-commons-molecule-repository, ansible-collection-commons-molecule-resolvconf, ansible-collection-commons-molecule-runc, ansible-collection-commons-molecule-services, ansible-collection-commons-molecule-sosreport, ansible-collection-commons-molecule-sshconfig, ansible-collection-commons-molecule-state, ansible-collection-commons-molecule-sysctl, ansible-collection-commons-molecule-systohc, ansible-collection-commons-molecule-timezone, ansible-collection-commons-molecule-trivy, ansible-collection-commons-molecule-user

repository: use repository_apt_phased_updates
  roles/repository/defaults/main.yml
  roles/repository/templates/99osism.j2
Due: ansible-collection-commons-molecule-repository

Add cleanup of unmanaged networkd files
  roles/network/defaults/main.yml
  roles/network/tasks/cleanup-networkd.yml
  roles/network/tasks/dummy-interfaces.yml
  roles/network/tasks/main.yml
  roles/network/tasks/vxlan-interfaces.yml
Due: ansible-collection-commons-molecule-network

Restructure vxlan definitions
  roles/network/defaults/main.yml
  roles/network/tasks/vxlan-interfaces.yml
  roles/network/templates/vxlan.netdev.j2
  roles/network/templates/vxlan.network.j2
Due: ansible-collection-commons-molecule-network

repository: make it possible to avoid recommended/suggested packages
  roles/repository/defaults/main.yml
  roles/repository/templates/99osism.j2
Due: ansible-collection-commons-molecule-repository

network: add MACAddress to vxlan netdev
  roles/network/templates/vxlan.netdev.j2
Due: ansible-collection-commons-molecule-network

Path conditions:
  ansible-collection-commons-molecule-certificates: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/certificates\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/certificates.*$
  ansible-collection-commons-molecule-cleanup: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/cleanup\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/cleanup.*$
  ansible-collection-commons-molecule-configfs: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/configfs\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/configfs.*$
  ansible-collection-commons-molecule-configuration: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/configuration\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/configuration.*$
  ansible-collection-commons-molecule-docker_compose: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/docker_compose\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/docker_compose.*$
  ansible-collection-commons-molecule-docker_login: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/docker_login\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/docker_login.*$
  ansible-collection-commons-molecule-facts: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/facts\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/facts.*$
  ansible-collection-commons-molecule-firewall: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/firewall\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/firewall.*$
  ansible-collection-commons-molecule-hostname: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/hostname\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/hostname.*$
  ansible-collection-commons-molecule-hosts: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/hosts\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/hosts.*$
  ansible-collection-commons-molecule-ipmitool: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/ipimtool\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/ipmitool.*$
  ansible-collection-commons-molecule-kernel_modules: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/kernel_modules\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/kernel_modules.*$
  ansible-collection-commons-molecule-known_hosts: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/known_hosts\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/known_hosts.*$
  ansible-collection-commons-molecule-kompose: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/kompose\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/kompose.*$
  ansible-collection-commons-molecule-kubectl: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/kubectl\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/kubectl.*$
  ansible-collection-commons-molecule-limits: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/limits\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/limits.*$
  ansible-collection-commons-molecule-lynis: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/lynis\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/lynis.*$
  ansible-collection-commons-molecule-microcode: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/microcode\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/microcode.*$
  ansible-collection-commons-molecule-motd: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/motd\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/motd.*$
  ansible-collection-commons-molecule-network: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/network\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/network.*$
  ansible-collection-commons-molecule-operator: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/operator\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/operator.*$
  ansible-collection-commons-molecule-packages: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/packages\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/packages.*$
  ansible-collection-commons-molecule-podman: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/podman\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/podman.*$
  ansible-collection-commons-molecule-proxy: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/proxy\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/proxy.*$
  ansible-collection-commons-molecule-repository: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/repository\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/repository.*$
  ansible-collection-commons-molecule-resolvconf: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/resolvconf\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/resolvconf.*$
  ansible-collection-commons-molecule-runc: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/runc\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/runc.*$
  ansible-collection-commons-molecule-services: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/services\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/services.*$
  ansible-collection-commons-molecule-sosreport: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/sosreport\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/sosreport.*$
  ansible-collection-commons-molecule-sshconfig: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/sshconfig\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/sshconfig.*$
  ansible-collection-commons-molecule-state: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/state\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/state.*$
  ansible-collection-commons-molecule-sysctl: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/sysctl\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/sysctl.*$
  ansible-collection-commons-molecule-systohc: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/systohc\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/systohc.*$
  ansible-collection-commons-molecule-timezone: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/timezone\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/timezone.*$
  ansible-collection-commons-molecule-trivy: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/trivy\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/trivy.*$
  ansible-collection-commons-molecule-user: any of: ^\.zuul\.yaml$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/requirements\.txt$, ^roles\/user\/.*$, ^molecule\/delegated\/[a-zA-Z0-9_-]+\/user.*$
