Repository osism/ansible-collection-commons: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-commons-ansible-molecule-certificates, ansible-collection-commons-ansible-molecule-cleanup, ansible-collection-commons-ansible-molecule-configfs, ansible-collection-commons-ansible-molecule-configuration, ansible-collection-commons-ansible-molecule-docker_compose, ansible-collection-commons-ansible-molecule-facts, ansible-collection-commons-ansible-molecule-firewall, ansible-collection-commons-ansible-molecule-hostname, ansible-collection-commons-ansible-molecule-hosts, ansible-collection-commons-ansible-molecule-ipmitool, ansible-collection-commons-ansible-molecule-kernel_modules, ansible-collection-commons-ansible-molecule-kompose, ansible-collection-commons-ansible-molecule-kubectl, ansible-collection-commons-ansible-molecule-lynis, ansible-collection-commons-ansible-molecule-microcode, ansible-collection-commons-ansible-molecule-motd, ansible-collection-commons-ansible-molecule-operator, ansible-collection-commons-ansible-molecule-packages, ansible-collection-commons-ansible-molecule-podman, ansible-collection-commons-ansible-molecule-proxy, ansible-collection-commons-ansible-molecule-repository, ansible-collection-commons-ansible-molecule-resolvconf, ansible-collection-commons-ansible-molecule-runc, ansible-collection-commons-ansible-molecule-services, ansible-collection-commons-ansible-molecule-sosreport, ansible-collection-commons-ansible-molecule-sshconfig, ansible-collection-commons-ansible-molecule-state, ansible-collection-commons-ansible-molecule-sysctl, ansible-collection-commons-ansible-molecule-systohc, ansible-collection-commons-ansible-molecule-timezone, ansible-collection-commons-ansible-molecule-trivy

Path conditions:
  ansible-collection-commons-ansible-molecule-certificates: any of: ^molecule\/delegated\/.*$, ^molecule\/certificates\/.*$, ^roles\/certificates\/.*$
  ansible-collection-commons-ansible-molecule-cleanup: any of: ^molecule\/delegated\/.*$, ^molecule\/cleanup\/.*$, ^roles\/cleanup\/.*$
  ansible-collection-commons-ansible-molecule-configfs: any of: ^molecule\/delegated\/.*$, ^molecule\/configfs\/.*$, ^roles\/configfs\/.*$
  ansible-collection-commons-ansible-molecule-configuration: any of: ^molecule\/delegated\/.*$, ^molecule\/configuration\/.*$, ^roles\/configuraion\/.*$
  ansible-collection-commons-ansible-molecule-docker_compose: any of: ^molecule\/delegated\/.*$, ^molecule\/docker_compose\/.*$, ^roles\/docker_compose\/.*$
  ansible-collection-commons-ansible-molecule-facts: any of: ^molecule\/delegated\/.*$, ^molecule\/facts\/.*$, ^roles\/facts\/.*$
  ansible-collection-commons-ansible-molecule-firewall: any of: ^molecule\/delegated\/.*$, ^molecule\/firewall\/.*$, ^roles\/firewall\/.*$
  ansible-collection-commons-ansible-molecule-hostname: any of: ^molecule\/delegated\/.*$, ^molecule\/hostname\/.*$, ^roles\/hostname\/.*$
  ansible-collection-commons-ansible-molecule-hosts: any of: ^molecule\/delegated\/.*$, ^molecule\/hosts\/.*$, ^roles\/hosts\/.*$
  ansible-collection-commons-ansible-molecule-ipmitool: any of: ^molecule\/delegated\/.*$, ^molecule\/ipimtool\/.*$, ^roles\/ipimtool\/.*$
  ansible-collection-commons-ansible-molecule-kernel_modules: any of: ^molecule\/delegated\/.*$, ^molecule\/kernel_modules\/.*$, ^roles\/kernel_modules\/.*$
  ansible-collection-commons-ansible-molecule-kompose: any of: ^molecule\/delegated\/.*$, ^molecule\/kompose\/.*$, ^roles\/kompose\/.*$
  ansible-collection-commons-ansible-molecule-kubectl: any of: ^molecule\/delegated\/.*$, ^molecule\/kubectl\/.*$, ^roles\/kubectl\/.*$
  ansible-collection-commons-ansible-molecule-lynis: any of: ^molecule\/delegated\/.*$, ^molecule\/lynis\/.*$, ^roles\/lynis\/.*$
  ansible-collection-commons-ansible-molecule-microcode: any of: ^molecule\/delegated\/.*$, ^molecule\/microcode\/.*$, ^roles\/microcode\/.*$
  ansible-collection-commons-ansible-molecule-motd: any of: ^molecule\/delegated\/.*$, ^molecule\/motd\/.*$, ^roles\/motd\/.*$
  ansible-collection-commons-ansible-molecule-operator: any of: ^molecule\/delegated\/.*$, ^molecule\/operator\/.*$, ^roles\/operator\/.*$
  ansible-collection-commons-ansible-molecule-packages: any of: ^molecule\/delegated\/.*$, ^molecule\/packages\/.*$, ^roles\/packages\/.*$
  ansible-collection-commons-ansible-molecule-podman: any of: ^molecule\/delegated\/.*$, ^molecule\/podman\/.*$, ^roles\/podman\/.*$
  ansible-collection-commons-ansible-molecule-proxy: any of: ^molecule\/delegated\/.*$, ^molecule\/proxy\/.*$, ^roles\/proxy\/.*$
  ansible-collection-commons-ansible-molecule-repository: any of: ^molecule\/delegated\/.*$, ^molecule\/repository\/.*$, ^roles\/repository\/.*$
  ansible-collection-commons-ansible-molecule-resolvconf: any of: ^molecule\/delegated\/.*$, ^molecule\/resolvconf\/.*$, ^roles\/resolvconf\/.*$
  ansible-collection-commons-ansible-molecule-runc: any of: ^molecule\/delegated\/.*$, ^molecule\/runc\/.*$, ^roles\/runc\/.*$
  ansible-collection-commons-ansible-molecule-services: any of: ^molecule\/delegated\/.*$, ^molecule\/services\/.*$, ^roles\/services\/.*$
  ansible-collection-commons-ansible-molecule-sosreport: any of: ^molecule\/delegated\/.*$, ^molecule\/sosreport\/.*$, ^roles\/sosreport\/.*$
  ansible-collection-commons-ansible-molecule-sshconfig: any of: ^molecule\/delegated\/.*$, ^molecule\/sshconfig\/.*$, ^roles\/sshconfig\/.*$
  ansible-collection-commons-ansible-molecule-state: any of: ^molecule\/delegated\/.*$, ^molecule\/state\/.*$, ^roles\/state\/.*$
  ansible-collection-commons-ansible-molecule-sysctl: any of: ^molecule\/delegated\/.*$, ^molecule\/sysctl\/.*$, ^roles\/sysctl\/.*$
  ansible-collection-commons-ansible-molecule-systohc: any of: ^molecule\/delegated\/.*$, ^molecule\/systohc\/.*$, ^roles\/systohc\/.*$
  ansible-collection-commons-ansible-molecule-timezone: any of: ^molecule\/delegated\/.*$, ^molecule\/timezone\/.*$, ^roles\/timezone\/.*$
  ansible-collection-commons-ansible-molecule-trivy: any of: ^molecule\/delegated\/.*$, ^molecule\/trivy\/.*$, ^roles\/trivy\/.*$

Fixed ansible_role vars in zuul.yaml
  .zuul.yaml
  molecule/delegated/prepare/firewall.yml
  molecule/delegated/vars/configuration.yml
  molecule/delegated/vars/sosreport.yml
  molecule/delegated/vars/sshconfig.yml
Due: ansible-collection-commons-ansible-molecule-certificates, ansible-collection-commons-ansible-molecule-cleanup, ansible-collection-commons-ansible-molecule-configfs, ansible-collection-commons-ansible-molecule-configuration, ansible-collection-commons-ansible-molecule-docker_compose, ansible-collection-commons-ansible-molecule-facts, ansible-collection-commons-ansible-molecule-firewall, ansible-collection-commons-ansible-molecule-hostname, ansible-collection-commons-ansible-molecule-hosts, ansible-collection-commons-ansible-molecule-ipmitool, ansible-collection-commons-ansible-molecule-kernel_modules, ansible-collection-commons-ansible-molecule-kompose, ansible-collection-commons-ansible-molecule-kubectl, ansible-collection-commons-ansible-molecule-lynis, ansible-collection-commons-ansible-molecule-microcode, ansible-collection-commons-ansible-molecule-motd, ansible-collection-commons-ansible-molecule-operator, ansible-collection-commons-ansible-molecule-packages, ansible-collection-commons-ansible-molecule-podman, ansible-collection-commons-ansible-molecule-proxy, ansible-collection-commons-ansible-molecule-repository, ansible-collection-commons-ansible-molecule-resolvconf, ansible-collection-commons-ansible-molecule-runc, ansible-collection-commons-ansible-molecule-services, ansible-collection-commons-ansible-molecule-sosreport, ansible-collection-commons-ansible-molecule-sshconfig, ansible-collection-commons-ansible-molecule-state, ansible-collection-commons-ansible-molecule-sysctl, ansible-collection-commons-ansible-molecule-systohc, ansible-collection-commons-ansible-molecule-timezone, ansible-collection-commons-ansible-molecule-trivy

Add molecule/requirements to matching files for zuul tests
  .zuul.yaml
  molecule/delegated/molecule.yml
Due: ansible-collection-commons-ansible-molecule-certificates, ansible-collection-commons-ansible-molecule-cleanup, ansible-collection-commons-ansible-molecule-configfs, ansible-collection-commons-ansible-molecule-configuration, ansible-collection-commons-ansible-molecule-docker_compose, ansible-collection-commons-ansible-molecule-facts, ansible-collection-commons-ansible-molecule-firewall, ansible-collection-commons-ansible-molecule-hostname, ansible-collection-commons-ansible-molecule-hosts, ansible-collection-commons-ansible-molecule-ipmitool, ansible-collection-commons-ansible-molecule-kernel_modules, ansible-collection-commons-ansible-molecule-kompose, ansible-collection-commons-ansible-molecule-kubectl, ansible-collection-commons-ansible-molecule-lynis, ansible-collection-commons-ansible-molecule-microcode, ansible-collection-commons-ansible-molecule-motd, ansible-collection-commons-ansible-molecule-operator, ansible-collection-commons-ansible-molecule-packages, ansible-collection-commons-ansible-molecule-podman, ansible-collection-commons-ansible-molecule-proxy, ansible-collection-commons-ansible-molecule-repository, ansible-collection-commons-ansible-molecule-resolvconf, ansible-collection-commons-ansible-molecule-runc, ansible-collection-commons-ansible-molecule-services, ansible-collection-commons-ansible-molecule-sosreport, ansible-collection-commons-ansible-molecule-sshconfig, ansible-collection-commons-ansible-molecule-state, ansible-collection-commons-ansible-molecule-sysctl, ansible-collection-commons-ansible-molecule-systohc, ansible-collection-commons-ansible-molecule-timezone, ansible-collection-commons-ansible-molecule-trivy

zuul: in the job names use molecule instead of ansible-molecule
  .zuul.yaml
Due: none

zuul: in the job names use molecule instead of ansible-molecule (#527)
  .zuul.yaml
Due: none

Fix some yamllint issues
  .zuul.yaml
Due: none

Fix some yamllint issues (#529)
  .zuul.yaml
Due: none

repository: only check for key files it there is a manager
  releasenotes/notes/repository-check-if-manager-is-there-6a748edc89deb5d1.yaml
  roles/repository/tasks/repository-Debian.yml
Due: ansible-collection-commons-ansible-molecule-repository

repository: only check for key files it there is a manager (#530)
  releasenotes/notes/repository-check-if-manager-is-there-6a748edc89deb5d1.yaml
  roles/repository/tasks/repository-Debian.yml
Due: ansible-collection-commons-ansible-molecule-repository

Add first molecule unit tests with testinfra
  .gitignore
  .zuul.yaml
  molecule/delegated/converge.yml
  molecule/delegated/molecule.yml
  molecule/delegated/tests/certificates.py
  molecule/delegated/tests/cleanup.py
  molecule/delegated/tests/configfs.py
  molecule/delegated/tests/configuration.py
  molecule/delegated/tests/docker_compose.py
  molecule/delegated/tests/facts.py
  molecule/delegated/tests/firewall.py
  molecule/delegated/tests/hostname.py
  molecule/delegated/tests/hosts.py
  molecule/delegated/tests/ipmitool.py
  molecule/delegated/tests/kernel_modules.py
  molecule/delegated/tests/kompose.py
  molecule/delegated/tests/kubectl.py
  molecule/delegated/tests/lynis.py
  molecule/delegated/tests/microcode.py
  molecule/delegated/tests/motd.py
  molecule/delegated/tests/operator.py
  molecule/delegated/tests/packages.py
  molecule/delegated/tests/podman.py
  molecule/delegated/tests/proxy.py
  molecule/delegated/tests/repository.py
  molecule/delegated/tests/resolvconf.py
  molecule/delegated/tests/runc.py
  molecule/delegated/tests/services.py
  molecule/delegated/tests/sosreport.py
  molecule/delegated/tests/sshconfig.py
  molecule/delegated/tests/state.py
  molecule/delegated/tests/sysctl.py
  molecule/delegated/tests/systohc.py
  molecule/delegated/tests/timezone.py
  molecule/delegated/tests/trivy.py
  molecule/requirements.txt
  releasenotes/notes/add-molecule-testinfra-2d1589b440392f7d.yaml
Due: ansible-collection-commons-ansible-molecule-certificates, ansible-collection-commons-ansible-molecule-cleanup, ansible-collection-commons-ansible-molecule-configfs, ansible-collection-commons-ansible-molecule-configuration, ansible-collection-commons-ansible-molecule-docker_compose, ansible-collection-commons-ansible-molecule-facts, ansible-collection-commons-ansible-molecule-firewall, ansible-collection-commons-ansible-molecule-hostname, ansible-collection-commons-ansible-molecule-hosts, ansible-collection-commons-ansible-molecule-ipmitool, ansible-collection-commons-ansible-molecule-kernel_modules, ansible-collection-commons-ansible-molecule-kompose, ansible-collection-commons-ansible-molecule-kubectl, ansible-collection-commons-ansible-molecule-lynis, ansible-collection-commons-ansible-molecule-microcode, ansible-collection-commons-ansible-molecule-motd, ansible-collection-commons-ansible-molecule-operator, ansible-collection-commons-ansible-molecule-packages, ansible-collection-commons-ansible-molecule-podman, ansible-collection-commons-ansible-molecule-proxy, ansible-collection-commons-ansible-molecule-repository, ansible-collection-commons-ansible-molecule-resolvconf, ansible-collection-commons-ansible-molecule-runc, ansible-collection-commons-ansible-molecule-services, ansible-collection-commons-ansible-molecule-sosreport, ansible-collection-commons-ansible-molecule-sshconfig, ansible-collection-commons-ansible-molecule-state, ansible-collection-commons-ansible-molecule-sysctl, ansible-collection-commons-ansible-molecule-systohc, ansible-collection-commons-ansible-molecule-timezone, ansible-collection-commons-ansible-molecule-trivy

Implement molecule unit tests with testinfra
  .zuul.yaml
  README.md
  molecule/delegated/tests/cleanup.py
  molecule/delegated/tests/firewall.py
  molecule/delegated/tests/kompose.py
  molecule/delegated/tests/pytest.ini
  molecule/delegated/tests/sysctl.py
Due: ansible-collection-commons-ansible-molecule-certificates, ansible-collection-commons-ansible-molecule-cleanup, ansible-collection-commons-ansible-molecule-configfs, ansible-collection-commons-ansible-molecule-configuration, ansible-collection-commons-ansible-molecule-docker_compose, ansible-collection-commons-ansible-molecule-facts, ansible-collection-commons-ansible-molecule-firewall, ansible-collection-commons-ansible-molecule-hostname, ansible-collection-commons-ansible-molecule-hosts, ansible-collection-commons-ansible-molecule-ipmitool, ansible-collection-commons-ansible-molecule-kernel_modules, ansible-collection-commons-ansible-molecule-kompose, ansible-collection-commons-ansible-molecule-kubectl, ansible-collection-commons-ansible-molecule-lynis, ansible-collection-commons-ansible-molecule-microcode, ansible-collection-commons-ansible-molecule-motd, ansible-collection-commons-ansible-molecule-operator, ansible-collection-commons-ansible-molecule-packages, ansible-collection-commons-ansible-molecule-podman, ansible-collection-commons-ansible-molecule-proxy, ansible-collection-commons-ansible-molecule-repository, ansible-collection-commons-ansible-molecule-resolvconf, ansible-collection-commons-ansible-molecule-runc, ansible-collection-commons-ansible-molecule-services, ansible-collection-commons-ansible-molecule-sosreport, ansible-collection-commons-ansible-molecule-sshconfig, ansible-collection-commons-ansible-molecule-state, ansible-collection-commons-ansible-molecule-sysctl, ansible-collection-commons-ansible-molecule-systohc, ansible-collection-commons-ansible-molecule-timezone, ansible-collection-commons-ansible-molecule-trivy

Test systohc
  .zuul.yaml
  molecule/delegated/molecule.yml
  molecule/delegated/tests/__init__.py
  molecule/delegated/tests/certificates.py
  molecule/delegated/tests/cleanup.py
  molecule/delegated/tests/configfs.py
  molecule/delegated/tests/configuration.py
  molecule/delegated/tests/configuration/__init__.py
  molecule/delegated/tests/configuration/git.py
  molecule/delegated/tests/configuration/main.py
  molecule/delegated/tests/docker_compose.py
  molecule/delegated/tests/facts.py
  molecule/delegated/tests/firewall.py
  molecule/delegated/tests/hostname.py
  molecule/delegated/tests/hosts.py
  molecule/delegated/tests/ipmitool.py
  molecule/delegated/tests/kernel_modules.py
  molecule/delegated/tests/kompose.py
  molecule/delegated/tests/kubectl.py
  molecule/delegated/tests/lynis.py
  molecule/delegated/tests/microcode.py
  molecule/delegated/tests/motd.py
  molecule/delegated/tests/operator.py
  molecule/delegated/tests/packages.py
  molecule/delegated/tests/podman.py
  molecule/delegated/tests/proxy.py
  molecule/delegated/tests/repository.py
  molecule/delegated/tests/resolvconf.py
  molecule/delegated/tests/runc.py
  molecule/delegated/tests/services.py
  molecule/delegated/tests/sosreport.py
  molecule/delegated/tests/sshconfig.py
  molecule/delegated/tests/state.py
  molecule/delegated/tests/sysctl.py
  molecule/delegated/tests/systohc.py
  molecule/delegated/tests/timezone.py
  molecule/delegated/tests/trivy.py
  molecule/delegated/tests/util/__init__.py
  molecule/delegated/tests/util/util.py
Due: ansible-collection-commons-ansible-molecule-certificates, ansible-collection-commons-ansible-molecule-cleanup, ansible-collection-commons-ansible-molecule-configfs, ansible-collection-commons-ansible-molecule-configuration, ansible-collection-commons-ansible-molecule-docker_compose, ansible-collection-commons-ansible-molecule-facts, ansible-collection-commons-ansible-molecule-firewall, ansible-collection-commons-ansible-molecule-hostname, ansible-collection-commons-ansible-molecule-hosts, ansible-collection-commons-ansible-molecule-ipmitool, ansible-collection-commons-ansible-molecule-kernel_modules, ansible-collection-commons-ansible-molecule-kompose, ansible-collection-commons-ansible-molecule-kubectl, ansible-collection-commons-ansible-molecule-lynis, ansible-collection-commons-ansible-molecule-microcode, ansible-collection-commons-ansible-molecule-motd, ansible-collection-commons-ansible-molecule-operator, ansible-collection-commons-ansible-molecule-packages, ansible-collection-commons-ansible-molecule-podman, ansible-collection-commons-ansible-molecule-proxy, ansible-collection-commons-ansible-molecule-repository, ansible-collection-commons-ansible-molecule-resolvconf, ansible-collection-commons-ansible-molecule-runc, ansible-collection-commons-ansible-molecule-services, ansible-collection-commons-ansible-molecule-sosreport, ansible-collection-commons-ansible-molecule-sshconfig, ansible-collection-commons-ansible-molecule-state, ansible-collection-commons-ansible-molecule-sysctl, ansible-collection-commons-ansible-molecule-systohc, ansible-collection-commons-ansible-molecule-timezone, ansible-collection-commons-ansible-molecule-trivy

Add podman test
  .zuul.yaml
  molecule/delegated/tests/podman.py
Due: ansible-collection-commons-ansible-molecule-certificates, ansible-collection-commons-ansible-molecule-cleanup, ansible-collection-commons-ansible-molecule-configfs, ansible-collection-commons-ansible-molecule-configuration, ansible-collection-commons-ansible-molecule-docker_compose, ansible-collection-commons-ansible-molecule-facts, ansible-collection-commons-ansible-molecule-firewall, ansible-collection-commons-ansible-molecule-hostname, ansible-collection-commons-ansible-molecule-hosts, ansible-collection-commons-ansible-molecule-ipmitool, ansible-collection-commons-ansible-molecule-kernel_modules, ansible-collection-commons-ansible-molecule-kompose, ansible-collection-commons-ansible-molecule-kubectl, ansible-collection-commons-ansible-molecule-lynis, ansible-collection-commons-ansible-molecule-microcode, ansible-collection-commons-ansible-molecule-motd, ansible-collection-commons-ansible-molecule-operator, ansible-collection-commons-ansible-molecule-packages, ansible-collection-commons-ansible-molecule-podman, ansible-collection-commons-ansible-molecule-proxy, ansible-collection-commons-ansible-molecule-repository, ansible-collection-commons-ansible-molecule-resolvconf, ansible-collection-commons-ansible-molecule-runc, ansible-collection-commons-ansible-molecule-services, ansible-collection-commons-ansible-molecule-sosreport, ansible-collection-commons-ansible-molecule-sshconfig, ansible-collection-commons-ansible-molecule-state, ansible-collection-commons-ansible-molecule-sysctl, ansible-collection-commons-ansible-molecule-systohc, ansible-collection-commons-ansible-molecule-timezone, ansible-collection-commons-ansible-molecule-trivy

docker_compose: add osism target
  releasenotes/notes/docker-compose-osism-target-59a57cb00e7502a3.yaml
  roles/docker_compose/tasks/main.yml
  roles/docker_compose/templates/docker-compose.service.j2
  roles/docker_compose/templates/osism.target.j2
Due: ansible-collection-commons-ansible-molecule-docker_compose

docker_compose: add osism target (#534)
  releasenotes/notes/docker-compose-osism-target-59a57cb00e7502a3.yaml
  roles/docker_compose/tasks/main.yml
  roles/docker_compose/templates/docker-compose.service.j2
  roles/docker_compose/templates/osism.target.j2
Due: ansible-collection-commons-ansible-molecule-docker_compose

docker_compose: use service type simple
  releasenotes/notes/docker-compose-service-simple-5b5b79435ad8391f.yaml
  roles/docker_compose/templates/docker-compose.service.j2
Due: ansible-collection-commons-ansible-molecule-docker_compose

docker_compose: use service type simple (#535)
  releasenotes/notes/docker-compose-service-simple-5b5b79435ad8391f.yaml
  roles/docker_compose/templates/docker-compose.service.j2
Due: ansible-collection-commons-ansible-molecule-docker_compose

Add limits role
  .ansible-lint
  releasenotes/notes/limits-516d3a18b094046f.yaml
  roles/limits/README.md
  roles/limits/README.rst
  roles/limits/defaults/main.yml
  roles/limits/meta/main.yml
  roles/limits/tasks/limits.yml
  roles/limits/tasks/main.yml
Due: none

Add limits role (#536)
  .ansible-lint
  releasenotes/notes/limits-516d3a18b094046f.yaml
  roles/limits/README.md
  roles/limits/README.rst
  roles/limits/defaults/main.yml
  roles/limits/meta/main.yml
  roles/limits/tasks/limits.yml
  roles/limits/tasks/main.yml
Due: none

limits: improve configuration
  roles/limits/tasks/limits.yml
Due: none

limits: improve configuration (#537)
  roles/limits/tasks/limits.yml
Due: none

repository: optimise APT defaults
  releasenotes/notes/repository-optimise-apt-get-b8ec163bdc00c522.yaml
  roles/repository/templates/99osism.j2
Due: ansible-collection-commons-ansible-molecule-repository

network: use netplan as default
  releasenotes/notes/network-default-netplan-dda52e88b415f4f2.yaml
  roles/network/README.rst
  roles/network/defaults/main.yml
Due: none

network: use ansible_distribution_version
  roles/network/tasks/type-interfaces.yml
Due: none

network: use ansible_distribution_version (#543)
  roles/network/tasks/type-interfaces.yml
Due: none

network: use netplan as default (#539)
  releasenotes/notes/network-default-netplan-dda52e88b415f4f2.yaml
  roles/network/README.rst
  roles/network/defaults/main.yml
Due: none

Migrate docs (pt. 1)
  doc/source/index.rst
  roles/services/README.md
  roles/services/README.rst
  roles/sshconfig/README.md
  roles/sshconfig/README.rst
Due: ansible-collection-commons-ansible-molecule-services, ansible-collection-commons-ansible-molecule-sshconfig

Migrate docs (pt. 1) (#544)
  doc/source/index.rst
  roles/services/README.md
  roles/services/README.rst
  roles/sshconfig/README.md
  roles/sshconfig/README.rst
Due: ansible-collection-commons-ansible-molecule-services, ansible-collection-commons-ansible-molecule-sshconfig

Migrate docs (pt. 2)
  doc/source/index.rst
  roles/packages/README.md
  roles/packages/README.rst
  roles/timezone/README.md
  roles/timezone/README.rst
Due: ansible-collection-commons-ansible-molecule-packages, ansible-collection-commons-ansible-molecule-timezone

Migrate docs (pt. 2) (#545)
  doc/source/index.rst
  roles/packages/README.md
  roles/packages/README.rst
  roles/timezone/README.md
  roles/timezone/README.rst
Due: ansible-collection-commons-ansible-molecule-packages, ansible-collection-commons-ansible-molecule-timezone

Remove docs build
  .zuul.yaml
  README.md
  doc/requirements.txt
  doc/source/conf.py
  doc/source/index.rst
  galaxy.yml
  tox.ini
Due: none

Remove docs build (#546)
  .zuul.yaml
  README.md
  doc/requirements.txt
  doc/source/conf.py
  doc/source/index.rst
  galaxy.yml
  tox.ini
Due: none

close: #547 - change permissions of netplan file
  releasenotes/notes/fix-netplan-permissions-547-f7c6028bf2d158dd.yaml
  roles/network/defaults/main.yml
Due: none

network: change permissions of netplan file (#548)
  releasenotes/notes/fix-netplan-permissions-547-f7c6028bf2d158dd.yaml
  roles/network/defaults/main.yml
Due: none

Migrate docs (pt. 3)
  roles/network/README.md
  roles/network/README.rst
Due: none

Migrate docs (pt. 3) (#550)
  roles/network/README.md
  roles/network/README.rst
Due: none

docker_compose: check checksum of docker-compose before removal
  roles/docker_compose/tasks/install.yml
Due: ansible-collection-commons-ansible-molecule-docker_compose

docker_compose: check checksum of docker-compose before removal (#551)
  roles/docker_compose/tasks/install.yml
Due: ansible-collection-commons-ansible-molecule-docker_compose

Migrate sysctl docs
  roles/sysctl/README.md
  roles/sysctl/README.rst
Due: ansible-collection-commons-ansible-molecule-sysctl
